1.Finance_Incoming_Invoices
{
  "updatedAt": "2026-03-14T13:56:13.229Z",
  "createdAt": "2026-03-14T13:18:33.350Z",
  "id": "CBwL3sIE28yleuOR",
  "name": "1.Finance_Incoming_Invoices",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        -64
      ],
      "id": "c042b842-d9b6-4522-af9c-ccf2396495fa",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "NJotz0jOs2Osf7BJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "={{ $json.headers.subject }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Bau8QYoO0OLUHnLxndd--tdVIzqmNhNr",
          "mode": "list",
          "cachedResultName": "Incoming Invoices",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Bau8QYoO0OLUHnLxndd--tdVIzqmNhNr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -368,
        64
      ],
      "id": "05143b0f-db8d-4bf0-96d2-f68dd93a0c8a",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -368,
        -224
      ],
      "id": "ebd4221a-1de1-4a7d-949b-d2dea7736ea1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are a head account and your task is to analyze incoming invoices\nthis is the invoice:\n{{ $json.text }}\n\nYou need to extract:\n- Company name of the invoice\n- email address of that company\n- invoice number\n- invoice due date\n- name of client\n- amount to pay\n- currency\n- client email\n\nand you output this is a perfect json-file (without the ''')\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -176,
        -224
      ],
      "id": "527ecbbe-6eac-4d63-ae6c-2ca74b673a79",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -272,
        -48
      ],
      "id": "de57e89e-7247-47f1-b084-656290031ffa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"company_name\": \"abc\",\n\t\"company_email\": \"xyz@xxx.com\",\n\"invoice_number\" : \"inc34\",\n\"invoice_due_date\" : \"12-03-1990\",\n\"client_name\" : \"peter\",\n\"client_email\" : \"peter@a.com\",\n\"amount_to_pay\": 123,\n\"currency\" : \"Euro\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -48,
        -64
      ],
      "id": "d602a32a-f404-4f85-bd1b-f8a139a68ffd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        -64
      ],
      "id": "d34b27c3-6dec-4dfb-9821-f37b155bdb47",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "550e429a-528e-4f73-9a20-688690fcd860",
              "name": "link",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        64
      ],
      "id": "6453147f-f91c-420e-b7a4-e6c9985bf43d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        400,
        -64
      ],
      "id": "f757a545-d789-40e5-a54d-dda201ca419e",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "6d30f753-838f-4a59-916b-c2cba4531c00",
  "activeVersionId": null,
  "versionCounter": 134,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-14T13:18:33.350Z",
      "createdAt": "2026-03-14T13:18:33.350Z",
      "role": "workflow:owner",
      "workflowId": "CBwL3sIE28yleuOR",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8790342e-b65e-4ef9-99ec-48a531aa0094"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ],
  "activeVersion": null
}