3.Lead_Enrichment
{
  "updatedAt": "2026-03-19T06:27:34.088Z",
  "createdAt": "2026-03-14T15:59:56.273Z",
  "id": "pWWPRAO52u5y54eE",
  "name": "3.Lead_Enrichment",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formId": "wY2YNyGz"
      },
      "type": "n8n-nodes-base.typeformTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        -64
      ],
      "id": "1c264f64-c4cb-4256-8ee4-e6d47b2a89ba",
      "name": "Typeform Trigger",
      "webhookId": "b6fa1e56-a876-48fe-b4ad-15ce6a82769c",
      "credentials": {
        "typeformApi": {
          "id": "kz2XbML7zdJLf6YB",
          "name": "Typeform account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f1798f3-2bd2-469a-9d4e-776e768a5a52",
              "name": "Name",
              "value": "={{ $json['What is your full name?'] }}",
              "type": "string"
            },
            {
              "id": "487716ed-81c2-4dc4-8b14-449546bf107d",
              "name": "email",
              "value": "={{ $json['What is your email address?'] }}",
              "type": "string"
            },
            {
              "id": "03b1092b-c225-4c03-a38a-4f76b5eeb943",
              "name": "question",
              "value": "={{ $json['What is the reason you would like to contact us?'] }}",
              "type": "string"
            },
            {
              "id": "817e7658-3dc4-4101-9f4a-77a8d49bc997",
              "name": "source",
              "value": "Typeform",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -64
      ],
      "id": "5324ea24-df3d-4c12-bee8-b56572ccba28",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "events": [
          "BOOKING_CREATED"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.calTrigger",
      "typeVersion": 2,
      "position": [
        32,
        320
      ],
      "id": "7a39c8b4-0b79-409a-8d04-d80ec1edf3d5",
      "name": "Cal.com Trigger",
      "webhookId": "d58463f4-b927-4175-b230-96fd9817518e",
      "credentials": {
        "calApi": {
          "id": "KKlLMBoEG0erzXvj",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f1798f3-2bd2-469a-9d4e-776e768a5a52",
              "name": "Name",
              "value": "={{ $json['What is your full name?'] }}",
              "type": "string"
            },
            {
              "id": "487716ed-81c2-4dc4-8b14-449546bf107d",
              "name": "email",
              "value": "={{ $json['What is your email address?'] }}",
              "type": "string"
            },
            {
              "id": "03b1092b-c225-4c03-a38a-4f76b5eeb943",
              "name": "question",
              "value": "={{ $json['What is the reason you would like to contact us?'] }}",
              "type": "string"
            },
            {
              "id": "80f8249e-0263-4137-88ff-bd63945ed766",
              "name": "source",
              "value": "Stripe",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        128
      ],
      "id": "8eb48b1c-80fd-49c5-b7c8-1844739e5009",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f1798f3-2bd2-469a-9d4e-776e768a5a52",
              "name": "Name",
              "value": "={{ $json.attendees[0].name }}",
              "type": "string"
            },
            {
              "id": "487716ed-81c2-4dc4-8b14-449546bf107d",
              "name": "email",
              "value": "={{ $json.attendees[0].email }}",
              "type": "string"
            },
            {
              "id": "03b1092b-c225-4c03-a38a-4f76b5eeb943",
              "name": "question",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "89052f21-e16d-42d3-867c-1013a9dfe85b",
              "name": "source",
              "value": "Cal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        320
      ],
      "id": "b8e04900-3970-40a0-86a9-57687290032d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f1798f3-2bd2-469a-9d4e-776e768a5a52",
              "name": "Name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "487716ed-81c2-4dc4-8b14-449546bf107d",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "03b1092b-c225-4c03-a38a-4f76b5eeb943",
              "name": "question",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "68647370-2e48-44fc-9e4c-3288dc79f28b",
              "name": "source",
              "value": "={{ $json.body.source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        512
      ],
      "id": "dc76b6dc-3e5e-4ded-bfa7-6bc7cd2cffb4",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f1798f3-2bd2-469a-9d4e-776e768a5a52",
              "name": "Name",
              "value": "={{ $json['What is your full name?'] }}",
              "type": "string"
            },
            {
              "id": "487716ed-81c2-4dc4-8b14-449546bf107d",
              "name": "email",
              "value": "={{ $json['What is your email address?'] }}",
              "type": "string"
            },
            {
              "id": "03b1092b-c225-4c03-a38a-4f76b5eeb943",
              "name": "question",
              "value": "={{ $json['What is the reason you would like to contact us?'] }}",
              "type": "string"
            },
            {
              "id": "68647370-2e48-44fc-9e4c-3288dc79f28b",
              "name": "source",
              "value": "Instantly Reply",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        704
      ],
      "id": "2db8d00f-b190-4f14-b9e5-1dfd01d888ed",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4eb52f14-3918-467f-a652-eba8e8cd80c0",
              "leftValue": "={{ $json.score }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        160
      ],
      "id": "4567ea0b-8773-4d73-91cd-6fd4ce1f8e37",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f7d31f33-f9b3-4e84-a520-d84fe99a04c9",
              "leftValue": "={{ $json.result }}",
              "rightValue": "deliverable",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "86462fb1-a789-4b8c-be92-4ff8f7c67bfe",
              "leftValue": "={{ $('Extract Domain').item.json.isPersonal }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        416
      ],
      "id": "4f775955-a941-48e2-b90c-33c524ea6374",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/people/match",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "cO8VNhprETCbL2pacIn7WA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1088,
        160
      ],
      "id": "51248c53-5847-4f4e-aada-0969b0c65e37",
      "name": "Enrich Person"
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/api/v1/organizations/enrich",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "cO8VNhprETCbL2pacIn7WA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $('Extract Domain').item.json.domain }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        160
      ],
      "id": "a8f0259b-e992-43aa-b202-8a99d9b55bdb",
      "name": "Enrich Company"
    },
    {
      "parameters": {
        "jsCode": "const apollo = $json[0] || {};\nconst org = $input.first().json.organization || {};\n\nlet score = 0;\nlet reasons = [];\n\nif (org.estimated_num_employees) {\n  const employees = org.estimated_num_employees;\n\n  if (employees > 5000) { score += 30; reasons.push(\"Large enterprise\"); }\n  else if (employees > 1000) { score += 25; reasons.push(\"Mid-large company\"); }\n  else if (employees > 200) { score += 20; reasons.push(\"Growing company\"); }\n  else if (employees > 20) { score += 10; reasons.push(\"Small company\"); }\n  else { score += 5; reasons.push(\"Tiny company\"); }\n} else {\n  reasons.push(\"Unknown company size\");\n}\n\n\nconst industry = (org.industry || org.industries?.[0] || \"\").toLowerCase();\n\nif (\n  industry.includes(\"software\") ||\n  industry.includes(\"technology\") ||\n  industry.includes(\"ai\") ||\n  industry.includes(\"research\") ||       \n  industry.includes(\"development\") ||\n  industry.includes(\"engineering\")\n) {\n  score += 20;\n  reasons.push(\"Relevant industry: tech / AI / research / engineering\");\n}\n\nif (industry.includes(\"consulting\")) {\n  score += 10;\n  reasons.push(\"Consulting industry (automation-friendly)\");\n}\n\n\nif (org.total_funding && org.total_funding > 0) {\n  if (org.total_funding > 1_000_000_000) {\n    score += 25;\n    reasons.push(\"Heavily funded company\");\n  } else if (org.total_funding > 100_000_000) {\n    score += 15;\n    reasons.push(\"Well funded\");\n  } else if (org.total_funding > 10_000_000) {\n    score += 10;\n    reasons.push(\"Moderately funded\");\n  }\n}\n\n\nlet onlinePresence = 0;\n\nif (org.linkedin_url) onlinePresence += 1;\nif (org.twitter_url)  onlinePresence += 1;\nif (org.facebook_url) onlinePresence += 1;\nif (org.website_url)  onlinePresence += 1;\n\nscore += onlinePresence * 3;\n\nif (onlinePresence >= 3) {\n  reasons.push(\"Strong online presence\");\n} else if (onlinePresence >= 1) {\n  reasons.push(\"Basic online presence\");\n}\n\n// Normalize score\nif (score > 100) score = 100;\n\n// Lead quality label\nlet quality = \"low\";\nif (score >= 75) quality = \"high\";\nelse if (score >= 40) quality = \"medium\";\n\n// Output\nreturn [{\n  score,\n  quality,\n  reasons,\n  companyName: org.name || null,\n  industry: org.industry || null,\n  employees: org.estimated_num_employees || null,\n  domain: org.primary_domain || null,\n  website: org.website_url || null,\n  funding: org.total_funding || null,\n  raw: org\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        160
      ],
      "id": "dc0e4833-30aa-4f55-a7e6-b9604104de71",
      "name": "Score"
    },
    {
      "parameters": {
        "jsCode": "const email = $json.email || \"\";\n\nif (!email.includes('@')) {\n  return [{ ...$json, domain: null, companyName: \"Unknown\", isPersonal: true }];\n}\n\nconst domain = email.split('@')[1].toLowerCase();\n\nconst personalDomains = [\n  \"gmail.com\", \"yahoo.com\", \"hotmail.com\", \"outlook.com\",\n  \"icloud.com\", \"proton.me\", \"protonmail.com\", \"me.com\",\n  \"aol.com\", \"live.com\"\n];\n\n// Detect personal email\nconst isPersonal = personalDomains.includes(domain);\n\n// Company name logic\nlet companyName;\n\n// If personal email → use a fallback label\nif (isPersonal) {\n  companyName = \"Personal email (no company)\";\n} else {\n  // Convert domain (microsoft.com → Microsoft)\n  const root = domain.split('.')[0];\n  companyName = root.charAt(0).toUpperCase() + root.slice(1);\n}\n\n// Output everything cleanly\nreturn [{\n  ...$json,\n  domain,\n  isPersonal,\n  companyName\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        416
      ],
      "id": "06e97c1c-f65d-4ddc-8076-94a95112dc6c",
      "name": "Extract Domain"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VBHfgMT0trSYOcLoSnDcyvs4dzp9GFvyJ3dVPxWPG5U",
          "mode": "list",
          "cachedResultName": "Statistics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VBHfgMT0trSYOcLoSnDcyvs4dzp9GFvyJ3dVPxWPG5U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1768162165,
          "mode": "list",
          "cachedResultName": "incoming",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VBHfgMT0trSYOcLoSnDcyvs4dzp9GFvyJ3dVPxWPG5U/edit#gid=1768162165"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Form Website').item.json.body.email }}",
            "Message": "={{ $('Form Website').item.json.body.message }}",
            "Source": "form"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Legit",
              "displayName": "Legit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1504,
        608
      ],
      "id": "56614d92-0247-4c9c-bf2b-1d0a4f9e328e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XkUcr0YLOP2CkVg1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f1798f3-2bd2-469a-9d4e-776e768a5a52",
              "name": "Name",
              "value": "={{ $json['What is your full name?'] }}",
              "type": "string"
            },
            {
              "id": "487716ed-81c2-4dc4-8b14-449546bf107d",
              "name": "email",
              "value": "={{ $json['What is your email address?'] }}",
              "type": "string"
            },
            {
              "id": "03b1092b-c225-4c03-a38a-4f76b5eeb943",
              "name": "question",
              "value": "={{ $json['What is the reason you would like to contact us?'] }}",
              "type": "string"
            },
            {
              "id": "68647370-2e48-44fc-9e4c-3288dc79f28b",
              "name": "source",
              "value": "Instantly Reply",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        896
      ],
      "id": "d7b0e39c-306d-40bc-8518-56c630012456",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "#Finances"
        },
        "text": "=*New Lead Detected!*  \n\n*Score:* `{{ $json.score }}` / 100  \n*Quality:* *{{$json.quality.toUpperCase()}}*  \n\n*Name:* {{ $('Extract Domain').item.json.Name }}\n*Company:* {{$json.companyName || \"Unknown\"}}  \n*Industry:* {{$json.industry || \"Unknown\"}}  \n*Employees:* {{$json.employees || \"Unknown\"}}  \n*Website:* {{$json.website || \"—\"}}  \n\n*Why this lead scored {{$json.score}}:*\n{{$json.reasons.map(r => `• ${r}`).join(\"\\n\")}}\n\n*Email:* {{ $('Extract Domain').item.json.email|| \"Unknown\"}}  \n*Domain:* {{$json.domain || \"N/A\"}}\n\n*Source:* {{ $('Form Website').item.json.body.source }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1904,
        -128
      ],
      "id": "fb3c4d5c-223a-4147-b0f9-294cf1ed2cd4",
      "name": "Slack - Send Message",
      "webhookId": "b6841b06-ce53-458c-acc6-9ed1699e0034",
      "credentials": {
        "slackApi": {
          "id": "V700Ft2dm0NEii1V",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2c66c00e971980d28b88f2bb1caf0cba",
          "mode": "id"
        },
        "title": "={{ $('Extract Domain').item.json.email }}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Email|email",
              "emailValue": "={{ $('Extract Domain').item.json.email }}"
            },
            {
              "key": "Company|rich_text",
              "textContent": "={{ $json.companyName }}"
            },
            {
              "key": "Employees|number",
              "numberValue": "={{ $('Enrich Company').item.json.organization.estimated_num_employees }}"
            },
            {
              "key": "First Name|rich_text",
              "textContent": "={{ $('Enrich Person').item.json.person.first_name || \"\"}}"
            },
            {
              "key": "Funding|number",
              "numberValue": "={{ $('Enrich Company').item.json.organization.total_funding }}"
            },
            {
              "key": "Industry|rich_text",
              "textContent": "={{ $('Enrich Company').item.json.organization.industry }}"
            },
            {
              "key": "Last Name|rich_text",
              "textContent": "=Altman"
            },
            {
              "key": "LinkedIn |url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ $('Enrich Person').item.json.person.linkedin_url || \"\" }}"
            },
            {
              "key": "Quality|select",
              "selectValue": "={{ $json.quality }}"
            },
            {
              "key": "Name|title",
              "title": "={{ $('Extract Domain').item.json.Name }}"
            },
            {
              "key": "Score|number",
              "numberValue": "={{ $json.score }}"
            },
            {
              "key": "Website|rich_text",
              "textContent": "={{ $json.website }}"
            },
            {
              "key": "Source|rich_text",
              "textContent": "Form Website"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1904,
        64
      ],
      "id": "5ec5dad7-2065-4377-bdde-a778303a7db3",
      "name": "Notion - Create DB Page",
      "credentials": {
        "notionApi": {
          "id": "AziN0Uk3Q10Fbsfr",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "peterjawel@gmail.com",
        "subject": "iii",
        "message": "iii",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1920,
        240
      ],
      "id": "987e6d9e-dbab-45b2-b33a-88be1b3169de",
      "name": "Send Mail",
      "webhookId": "d6cf48e7-b858-4b91-abcb-ae85b2b3812e",
      "credentials": {
        "gmailOAuth2": {
          "id": "NJotz0jOs2Osf7BJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "events": [
          "invoice.paid"
        ]
      },
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        32,
        128
      ],
      "id": "5ccfe6a5-a7eb-43ba-bf92-4067892e3e1f",
      "name": "Stripe Trigger",
      "webhookId": "df172d19-69d7-4791-9f9b-4fa506ccc091",
      "credentials": {
        "stripeApi": {
          "id": "g1pflT85wYxGMl6j",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "s.altman@openai.com",
        "additionalFields": {
          "companyName": "Openai",
          "contactOwner": 79601868,
          "firstName": "Sam",
          "leadStatus": "OPEN"
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1936,
        400
      ],
      "id": "21aaed6f-336c-4415-ba9b-1ad46e043b61",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "76YmDdSWYNxmi2wt",
          "name": "HubSpot OAUTH2"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "name": "Peter",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1936,
        592
      ],
      "id": "67e80ec8-2b78-4460-99fc-307720f83822",
      "name": "Create a person",
      "credentials": {
        "pipedriveApi": {
          "id": "IDkjYKaVb3g5WXch",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "ertyyuii",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2128,
        592
      ],
      "id": "c3f04717-6fb3-4bae-ae5b-3ca7a7c0de87",
      "name": "Create a lead",
      "credentials": {
        "pipedriveApi": {
          "id": "IDkjYKaVb3g5WXch",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ceb55597-71f6-48ad-ac57-7fd78419ca87",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        512
      ],
      "id": "0e855981-db4b-491e-8c51-0a41536d0cea",
      "name": "Form Website",
      "webhookId": "ceb55597-71f6-48ad-ac57-7fd78419ca87"
    }
  ],
  "connections": {
    "Typeform Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Extract Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cal.com Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Extract Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Extract Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Extract Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Extract Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Slack - Send Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion - Create DB Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a person",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Enrich Person",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Person": {
      "main": [
        [
          {
            "node": "Enrich Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Company": {
      "main": [
        [
          {
            "node": "Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Domain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Extract Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person": {
      "main": [
        [
          {
            "node": "Create a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Website": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "151c72f9-5113-4fa6-ba5f-a86daa1833bd",
  "activeVersionId": "151c72f9-5113-4fa6-ba5f-a86daa1833bd",
  "versionCounter": 197,
  "triggerCount": 4,
  "shared": [
    {
      "updatedAt": "2026-03-14T15:59:56.273Z",
      "createdAt": "2026-03-14T15:59:56.273Z",
      "role": "workflow:owner",
      "workflowId": "pWWPRAO52u5y54eE",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8790342e-b65e-4ef9-99ec-48a531aa0094"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-19T06:27:38.037Z",
    "createdAt": "2026-03-19T06:27:34.090Z",
    "versionId": "151c72f9-5113-4fa6-ba5f-a86daa1833bd",
    "workflowId": "pWWPRAO52u5y54eE",
    "nodes": [
      {
        "parameters": {
          "formId": "wY2YNyGz"
        },
        "type": "n8n-nodes-base.typeformTrigger",
        "typeVersion": 1.1,
        "position": [
          32,
          -64
        ],
        "id": "1c264f64-c4cb-4256-8ee4-e6d47b2a89ba",
        "name": "Typeform Trigger",
        "webhookId": "b6fa1e56-a876-48fe-b4ad-15ce6a82769c",
        "credentials": {
          "typeformApi": {
            "id": "kz2XbML7zdJLf6YB",
            "name": "Typeform account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8f1798f3-2bd2-469a-9d4e-776e768a5a52",
                "name": "Name",
                "value": "={{ $json['What is your full name?'] }}",
                "type": "string"
              },
              {
                "id": "487716ed-81c2-4dc4-8b14-449546bf107d",
                "name": "email",
                "value": "={{ $json['What is your email address?'] }}",
                "type": "string"
              },
              {
                "id": "03b1092b-c225-4c03-a38a-4f76b5eeb943",
                "name": "question",
                "value": "={{ $json['What is the reason you would like to contact us?'] }}",
                "type": "string"
              },
              {
                "id": "817e7658-3dc4-4101-9f4a-77a8d49bc997",
                "name": "source",
                "value": "Typeform",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          256,
          -64
        ],
        "id": "5324ea24-df3d-4c12-bee8-b56572ccba28",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "events": [
            "BOOKING_CREATED"
          ],
          "options": {}
        },
        "type": "n8n-nodes-base.calTrigger",
        "typeVersion": 2,
        "position": [
          32,
          320
        ],
        "id": "7a39c8b4-0b79-409a-8d04-d80ec1edf3d5",
        "name": "Cal.com Trigger",
        "webhookId": "d58463f4-b927-4175-b230-96fd9817518e",
        "credentials": {
          "calApi": {
            "id": "KKlLMBoEG0erzXvj",
            "name": "Cal account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8f1798f3-2bd2-469a-9d4e-776e768a5a52",
                "name": "Name",
                "value": "={{ $json['What is your full name?'] }}",
                "type": "string"
              },
              {
                "id": "487716ed-81c2-4dc4-8b14-449546bf107d",
                "name": "email",
                "value": "={{ $json['What is your email address?'] }}",
                "type": "string"
              },
              {
                "id": "03b1092b-c225-4c03-a38a-4f76b5eeb943",
                "name": "question",
                "value": "={{ $json['What is the reason you would like to contact us?'] }}",
                "type": "string"
              },
              {
                "id": "80f8249e-0263-4137-88ff-bd63945ed766",
                "name": "source",
                "value": "Stripe",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          256,
          128
        ],
        "id": "8eb48b1c-80fd-49c5-b7c8-1844739e5009",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8f1798f3-2bd2-469a-9d4e-776e768a5a52",
                "name": "Name",
                "value": "={{ $json.attendees[0].name }}",
                "type": "string"
              },
              {
                "id": "487716ed-81c2-4dc4-8b14-449546bf107d",
                "name": "email",
                "value": "={{ $json.attendees[0].email }}",
                "type": "string"
              },
              {
                "id": "03b1092b-c225-4c03-a38a-4f76b5eeb943",
                "name": "question",
                "value": "={{ $json.title }}",
                "type": "string"
              },
              {
                "id": "89052f21-e16d-42d3-867c-1013a9dfe85b",
                "name": "source",
                "value": "Cal",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          256,
          320
        ],
        "id": "b8e04900-3970-40a0-86a9-57687290032d",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8f1798f3-2bd2-469a-9d4e-776e768a5a52",
                "name": "Name",
                "value": "={{ $json.body.name }}",
                "type": "string"
              },
              {
                "id": "487716ed-81c2-4dc4-8b14-449546bf107d",
                "name": "email",
                "value": "={{ $json.body.email }}",
                "type": "string"
              },
              {
                "id": "03b1092b-c225-4c03-a38a-4f76b5eeb943",
                "name": "question",
                "value": "={{ $json.body.message }}",
                "type": "string"
              },
              {
                "id": "68647370-2e48-44fc-9e4c-3288dc79f28b",
                "name": "source",
                "value": "={{ $json.body.source }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          256,
          512
        ],
        "id": "dc76b6dc-3e5e-4ded-bfa7-6bc7cd2cffb4",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8f1798f3-2bd2-469a-9d4e-776e768a5a52",
                "name": "Name",
                "value": "={{ $json['What is your full name?'] }}",
                "type": "string"
              },
              {
                "id": "487716ed-81c2-4dc4-8b14-449546bf107d",
                "name": "email",
                "value": "={{ $json['What is your email address?'] }}",
                "type": "string"
              },
              {
                "id": "03b1092b-c225-4c03-a38a-4f76b5eeb943",
                "name": "question",
                "value": "={{ $json['What is the reason you would like to contact us?'] }}",
                "type": "string"
              },
              {
                "id": "68647370-2e48-44fc-9e4c-3288dc79f28b",
                "name": "source",
                "value": "Instantly Reply",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          256,
          704
        ],
        "id": "2db8d00f-b190-4f14-b9e5-1dfd01d888ed",
        "name": "Edit Fields4"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "4eb52f14-3918-467f-a652-eba8e8cd80c0",
                "leftValue": "={{ $json.score }}",
                "rightValue": 60,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1664,
          160
        ],
        "id": "4567ea0b-8773-4d73-91cd-6fd4ce1f8e37",
        "name": "If2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "f7d31f33-f9b3-4e84-a520-d84fe99a04c9",
                "leftValue": "={{ $json.result }}",
                "rightValue": "deliverable",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "86462fb1-a789-4b8c-be92-4ff8f7c67bfe",
                "leftValue": "={{ $('Extract Domain').item.json.isPersonal }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          880,
          416
        ],
        "id": "4f775955-a941-48e2-b90c-33c524ea6374",
        "name": "If"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.apollo.io/v1/people/match",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "cO8VNhprETCbL2pacIn7WA"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "email",
                "value": "={{ $json.email }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1088,
          160
        ],
        "id": "51248c53-5847-4f4e-aada-0969b0c65e37",
        "name": "Enrich Person"
      },
      {
        "parameters": {
          "url": "https://api.apollo.io/api/v1/organizations/enrich",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "cO8VNhprETCbL2pacIn7WA"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "domain",
                "value": "={{ $('Extract Domain').item.json.domain }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1280,
          160
        ],
        "id": "a8f0259b-e992-43aa-b202-8a99d9b55bdb",
        "name": "Enrich Company"
      },
      {
        "parameters": {
          "jsCode": "const apollo = $json[0] || {};\nconst org = $input.first().json.organization || {};\n\nlet score = 0;\nlet reasons = [];\n\nif (org.estimated_num_employees) {\n  const employees = org.estimated_num_employees;\n\n  if (employees > 5000) { score += 30; reasons.push(\"Large enterprise\"); }\n  else if (employees > 1000) { score += 25; reasons.push(\"Mid-large company\"); }\n  else if (employees > 200) { score += 20; reasons.push(\"Growing company\"); }\n  else if (employees > 20) { score += 10; reasons.push(\"Small company\"); }\n  else { score += 5; reasons.push(\"Tiny company\"); }\n} else {\n  reasons.push(\"Unknown company size\");\n}\n\n\nconst industry = (org.industry || org.industries?.[0] || \"\").toLowerCase();\n\nif (\n  industry.includes(\"software\") ||\n  industry.includes(\"technology\") ||\n  industry.includes(\"ai\") ||\n  industry.includes(\"research\") ||       \n  industry.includes(\"development\") ||\n  industry.includes(\"engineering\")\n) {\n  score += 20;\n  reasons.push(\"Relevant industry: tech / AI / research / engineering\");\n}\n\nif (industry.includes(\"consulting\")) {\n  score += 10;\n  reasons.push(\"Consulting industry (automation-friendly)\");\n}\n\n\nif (org.total_funding && org.total_funding > 0) {\n  if (org.total_funding > 1_000_000_000) {\n    score += 25;\n    reasons.push(\"Heavily funded company\");\n  } else if (org.total_funding > 100_000_000) {\n    score += 15;\n    reasons.push(\"Well funded\");\n  } else if (org.total_funding > 10_000_000) {\n    score += 10;\n    reasons.push(\"Moderately funded\");\n  }\n}\n\n\nlet onlinePresence = 0;\n\nif (org.linkedin_url) onlinePresence += 1;\nif (org.twitter_url)  onlinePresence += 1;\nif (org.facebook_url) onlinePresence += 1;\nif (org.website_url)  onlinePresence += 1;\n\nscore += onlinePresence * 3;\n\nif (onlinePresence >= 3) {\n  reasons.push(\"Strong online presence\");\n} else if (onlinePresence >= 1) {\n  reasons.push(\"Basic online presence\");\n}\n\n// Normalize score\nif (score > 100) score = 100;\n\n// Lead quality label\nlet quality = \"low\";\nif (score >= 75) quality = \"high\";\nelse if (score >= 40) quality = \"medium\";\n\n// Output\nreturn [{\n  score,\n  quality,\n  reasons,\n  companyName: org.name || null,\n  industry: org.industry || null,\n  employees: org.estimated_num_employees || null,\n  domain: org.primary_domain || null,\n  website: org.website_url || null,\n  funding: org.total_funding || null,\n  raw: org\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1472,
          160
        ],
        "id": "dc0e4833-30aa-4f55-a7e6-b9604104de71",
        "name": "Score"
      },
      {
        "parameters": {
          "jsCode": "const email = $json.email || \"\";\n\nif (!email.includes('@')) {\n  return [{ ...$json, domain: null, companyName: \"Unknown\", isPersonal: true }];\n}\n\nconst domain = email.split('@')[1].toLowerCase();\n\nconst personalDomains = [\n  \"gmail.com\", \"yahoo.com\", \"hotmail.com\", \"outlook.com\",\n  \"icloud.com\", \"proton.me\", \"protonmail.com\", \"me.com\",\n  \"aol.com\", \"live.com\"\n];\n\n// Detect personal email\nconst isPersonal = personalDomains.includes(domain);\n\n// Company name logic\nlet companyName;\n\n// If personal email → use a fallback label\nif (isPersonal) {\n  companyName = \"Personal email (no company)\";\n} else {\n  // Convert domain (microsoft.com → Microsoft)\n  const root = domain.split('.')[0];\n  companyName = root.charAt(0).toUpperCase() + root.slice(1);\n}\n\n// Output everything cleanly\nreturn [{\n  ...$json,\n  domain,\n  isPersonal,\n  companyName\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          416
        ],
        "id": "06e97c1c-f65d-4ddc-8076-94a95112dc6c",
        "name": "Extract Domain"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1VBHfgMT0trSYOcLoSnDcyvs4dzp9GFvyJ3dVPxWPG5U",
            "mode": "list",
            "cachedResultName": "Statistics",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VBHfgMT0trSYOcLoSnDcyvs4dzp9GFvyJ3dVPxWPG5U/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1768162165,
            "mode": "list",
            "cachedResultName": "incoming",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VBHfgMT0trSYOcLoSnDcyvs4dzp9GFvyJ3dVPxWPG5U/edit#gid=1768162165"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Email": "={{ $('Form Website').item.json.body.email }}",
              "Message": "={{ $('Form Website').item.json.body.message }}",
              "Source": "form"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Message",
                "displayName": "Message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Legit",
                "displayName": "Legit",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Source",
                "displayName": "Source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1504,
          608
        ],
        "id": "56614d92-0247-4c9c-bf2b-1d0a4f9e328e",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XkUcr0YLOP2CkVg1",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8f1798f3-2bd2-469a-9d4e-776e768a5a52",
                "name": "Name",
                "value": "={{ $json['What is your full name?'] }}",
                "type": "string"
              },
              {
                "id": "487716ed-81c2-4dc4-8b14-449546bf107d",
                "name": "email",
                "value": "={{ $json['What is your email address?'] }}",
                "type": "string"
              },
              {
                "id": "03b1092b-c225-4c03-a38a-4f76b5eeb943",
                "name": "question",
                "value": "={{ $json['What is the reason you would like to contact us?'] }}",
                "type": "string"
              },
              {
                "id": "68647370-2e48-44fc-9e4c-3288dc79f28b",
                "name": "source",
                "value": "Instantly Reply",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          256,
          896
        ],
        "id": "d7b0e39c-306d-40bc-8518-56c630012456",
        "name": "Edit Fields5"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "mode": "list",
            "value": "#Finances"
          },
          "text": "=*New Lead Detected!*  \n\n*Score:* `{{ $json.score }}` / 100  \n*Quality:* *{{$json.quality.toUpperCase()}}*  \n\n*Name:* {{ $('Extract Domain').item.json.Name }}\n*Company:* {{$json.companyName || \"Unknown\"}}  \n*Industry:* {{$json.industry || \"Unknown\"}}  \n*Employees:* {{$json.employees || \"Unknown\"}}  \n*Website:* {{$json.website || \"—\"}}  \n\n*Why this lead scored {{$json.score}}:*\n{{$json.reasons.map(r => `• ${r}`).join(\"\\n\")}}\n\n*Email:* {{ $('Extract Domain').item.json.email|| \"Unknown\"}}  \n*Domain:* {{$json.domain || \"N/A\"}}\n\n*Source:* {{ $('Form Website').item.json.body.source }}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          1904,
          -128
        ],
        "id": "fb3c4d5c-223a-4147-b0f9-294cf1ed2cd4",
        "name": "Slack - Send Message",
        "webhookId": "b6841b06-ce53-458c-acc6-9ed1699e0034",
        "credentials": {
          "slackApi": {
            "id": "V700Ft2dm0NEii1V",
            "name": "Slack account 2"
          }
        }
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "2c66c00e971980d28b88f2bb1caf0cba",
            "mode": "id"
          },
          "title": "={{ $('Extract Domain').item.json.email }}",
          "simple": false,
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Email|email",
                "emailValue": "={{ $('Extract Domain').item.json.email }}"
              },
              {
                "key": "Company|rich_text",
                "textContent": "={{ $json.companyName }}"
              },
              {
                "key": "Employees|number",
                "numberValue": "={{ $('Enrich Company').item.json.organization.estimated_num_employees }}"
              },
              {
                "key": "First Name|rich_text",
                "textContent": "={{ $('Enrich Person').item.json.person.first_name || \"\"}}"
              },
              {
                "key": "Funding|number",
                "numberValue": "={{ $('Enrich Company').item.json.organization.total_funding }}"
              },
              {
                "key": "Industry|rich_text",
                "textContent": "={{ $('Enrich Company').item.json.organization.industry }}"
              },
              {
                "key": "Last Name|rich_text",
                "textContent": "=Altman"
              },
              {
                "key": "LinkedIn |url",
                "ignoreIfEmpty": true,
                "urlValue": "={{ $('Enrich Person').item.json.person.linkedin_url || \"\" }}"
              },
              {
                "key": "Quality|select",
                "selectValue": "={{ $json.quality }}"
              },
              {
                "key": "Name|title",
                "title": "={{ $('Extract Domain').item.json.Name }}"
              },
              {
                "key": "Score|number",
                "numberValue": "={{ $json.score }}"
              },
              {
                "key": "Website|rich_text",
                "textContent": "={{ $json.website }}"
              },
              {
                "key": "Source|rich_text",
                "textContent": "Form Website"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1904,
          64
        ],
        "id": "5ec5dad7-2065-4377-bdde-a778303a7db3",
        "name": "Notion - Create DB Page",
        "credentials": {
          "notionApi": {
            "id": "AziN0Uk3Q10Fbsfr",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "peterjawel@gmail.com",
          "subject": "iii",
          "message": "iii",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1920,
          240
        ],
        "id": "987e6d9e-dbab-45b2-b33a-88be1b3169de",
        "name": "Send Mail",
        "webhookId": "d6cf48e7-b858-4b91-abcb-ae85b2b3812e",
        "credentials": {
          "gmailOAuth2": {
            "id": "NJotz0jOs2Osf7BJ",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "events": [
            "invoice.paid"
          ]
        },
        "type": "n8n-nodes-base.stripeTrigger",
        "typeVersion": 1,
        "position": [
          32,
          128
        ],
        "id": "5ccfe6a5-a7eb-43ba-bf92-4067892e3e1f",
        "name": "Stripe Trigger",
        "webhookId": "df172d19-69d7-4791-9f9b-4fa506ccc091",
        "credentials": {
          "stripeApi": {
            "id": "g1pflT85wYxGMl6j",
            "name": "Stripe account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "email": "s.altman@openai.com",
          "additionalFields": {
            "companyName": "Openai",
            "contactOwner": 79601868,
            "firstName": "Sam",
            "leadStatus": "OPEN"
          },
          "options": {
            "resolveData": false
          }
        },
        "type": "n8n-nodes-base.hubspot",
        "typeVersion": 2.2,
        "position": [
          1936,
          400
        ],
        "id": "21aaed6f-336c-4415-ba9b-1ad46e043b61",
        "name": "Create or update a contact",
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "76YmDdSWYNxmi2wt",
            "name": "HubSpot OAUTH2"
          }
        }
      },
      {
        "parameters": {
          "resource": "person",
          "name": "Peter",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1936,
          592
        ],
        "id": "67e80ec8-2b78-4460-99fc-307720f83822",
        "name": "Create a person",
        "credentials": {
          "pipedriveApi": {
            "id": "IDkjYKaVb3g5WXch",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "lead",
          "title": "ertyyuii",
          "associateWith": "person",
          "person_id": "={{ $json.id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          2128,
          592
        ],
        "id": "c3f04717-6fb3-4bae-ae5b-3ca7a7c0de87",
        "name": "Create a lead",
        "credentials": {
          "pipedriveApi": {
            "id": "IDkjYKaVb3g5WXch",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ceb55597-71f6-48ad-ac57-7fd78419ca87",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          32,
          512
        ],
        "id": "0e855981-db4b-491e-8c51-0a41536d0cea",
        "name": "Form Website",
        "webhookId": "ceb55597-71f6-48ad-ac57-7fd78419ca87"
      }
    ],
    "connections": {
      "Typeform Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Extract Domain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cal.com Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Extract Domain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Extract Domain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Extract Domain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Extract Domain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "Slack - Send Message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Notion - Create DB Page",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Mail",
              "type": "main",
              "index": 0
            },
            {
              "node": "Create a person",
              "type": "main",
              "index": 0
            },
            {
              "node": "Create or update a contact",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Enrich Person",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enrich Person": {
        "main": [
          [
            {
              "node": "Enrich Company",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enrich Company": {
        "main": [
          [
            {
              "node": "Score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Score": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Domain": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Extract Domain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stripe Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a person": {
        "main": [
          [
            {
              "node": "Create a lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Form Website": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "peter aistralis",
    "name": "Version 151c72f9",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-19T06:27:38.030Z",
        "id": 352,
        "workflowId": "pWWPRAO52u5y54eE",
        "versionId": "151c72f9-5113-4fa6-ba5f-a86daa1833bd",
        "event": "activated",
        "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094"
      }
    ]
  }
}