Accountancy_Changes
{
  "updatedAt": "2026-03-21T12:41:06.291Z",
  "createdAt": "2026-03-08T13:46:36.455Z",
  "id": "VZdrFC077CALDaVH",
  "name": "Accountancy_Changes",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5dc6f69e-0d76-42f1-a1e8-7de18a679f4e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        0
      ],
      "id": "ce9539d7-85ba-4dc4-86ec-9e96e6f6d738",
      "name": "Webhook",
      "webhookId": "5dc6f69e-0d76-42f1-a1e8-7de18a679f4e"
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "value": "={{ $json.Card_id }}",
          "mode": "id"
        },
        "updateFields": {
          "idList": "={{ $('Get row(s)').item.json.List_id }}",
          "name": "={{ $json.Name }} - {{ $('Webhook').item.json.body.rows[0][2] }}"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        912,
        -80
      ],
      "id": "8fd7f803-c313-47a4-b874-3ad2ebf3aeb9",
      "name": "Update a card",
      "credentials": {
        "trelloApi": {
          "id": "PsyFp6FXm7MYDa2g",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "uvI7Ge8FDVvd27zs",
          "mode": "list",
          "cachedResultName": "Status",
          "cachedResultUrl": "/projects/2KiFcKNLK1JyaklJ/datatables/uvI7Ge8FDVvd27zs"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Status",
              "keyValue": "={{ $json['2'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        304,
        0
      ],
      "id": "7867625a-51f4-48d2-af84-3bbd1e8a93d4",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "UGkPp2JsYJ17J6KL",
          "mode": "list",
          "cachedResultName": "Rihanna_klanten",
          "cachedResultUrl": "/projects/2KiFcKNLK1JyaklJ/datatables/UGkPp2JsYJ17J6KL"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Name",
              "keyValue": "={{ $('Split Out').item.json['0'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "id": "e87cd63c-67ee-4b31-a9dd-bb1e51d53616",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.rows",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        128,
        0
      ],
      "id": "e38568ca-7c99-476f-9473-503cd60bf671",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM",
          "mode": "list",
          "cachedResultName": "Example Accountant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1587559629,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit#gid=1587559629"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "Excel",
            "Destination": "Trello",
            "Date": "={{ $now.toFormat('dd-MM-yyyy') }}",
            "Client": "={{ $('Split Out').item.json['0'] }}",
            "Action": "=Changed Stage to  {{ $('Split Out').item.json['2'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Destination",
              "displayName": "Destination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        -80
      ],
      "id": "4aa16231-0b4d-4500-a03f-5bde7a9cf947",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XkUcr0YLOP2CkVg1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "18a2b4e5-0aa7-4fe3-aa4f-3ada56383adc",
              "leftValue": "={{ $('Get row(s)').item.json.List_id }}",
              "rightValue": "69ad5fbabf62b8fde79d9c19",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        0
      ],
      "id": "488c9d38-9460-4338-b0f5-424ca2664963",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "value": "={{ $('Get row(s)1').item.json.Card_id }}",
          "mode": "id"
        },
        "updateFields": {
          "idList": "={{ $json.Id }}",
          "name": "={{ $('Get row(s)1').item.json.Name }} - {{ $('Webhook').item.json.body.rows[0][2] }}"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1040,
        208
      ],
      "id": "0af72a64-5860-43f3-a362-1f0809e20f40",
      "name": "Update a card1",
      "credentials": {
        "trelloApi": {
          "id": "PsyFp6FXm7MYDa2g",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM",
          "mode": "list",
          "cachedResultName": "Example Accountant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1587559629,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit#gid=1587559629"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "Excel",
            "Destination": "Trello",
            "Date": "={{ $now.toFormat('dd-MM-yyyy') }}",
            "Client": "={{ $('Split Out').item.json['0'] }}",
            "Action": "=Changed Stage to  {{ $('Split Out').item.json['2'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Destination",
              "displayName": "Destination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        208
      ],
      "id": "ff7cea9a-1e7a-44d2-92eb-2ae388eb060c",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XkUcr0YLOP2CkVg1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "d3l0lJS58ROZkyzw",
          "mode": "list",
          "cachedResultName": "Lists",
          "cachedResultUrl": "/projects/2KiFcKNLK1JyaklJ/datatables/d3l0lJS58ROZkyzw"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "List",
              "keyValue": "={{ $('Split Out').item.json['3'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        880,
        160
      ],
      "id": "f4fe6342-3f9f-4bdd-884a-419a3038c82d",
      "name": "Get row(s)2"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a card": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a card1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        []
      ]
    },
    "Get row(s)2": {
      "main": [
        [
          {
            "node": "Update a card1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "232226cb-9b19-465d-a723-238b7f020dad",
  "activeVersionId": "232226cb-9b19-465d-a723-238b7f020dad",
  "versionCounter": 148,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-08T13:46:36.455Z",
      "createdAt": "2026-03-08T13:46:36.455Z",
      "role": "workflow:owner",
      "workflowId": "VZdrFC077CALDaVH",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8790342e-b65e-4ef9-99ec-48a531aa0094"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-21T12:41:09.206Z",
    "createdAt": "2026-03-21T12:41:06.292Z",
    "versionId": "232226cb-9b19-465d-a723-238b7f020dad",
    "workflowId": "VZdrFC077CALDaVH",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "5dc6f69e-0d76-42f1-a1e8-7de18a679f4e",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -48,
          0
        ],
        "id": "ce9539d7-85ba-4dc4-86ec-9e96e6f6d738",
        "name": "Webhook",
        "webhookId": "5dc6f69e-0d76-42f1-a1e8-7de18a679f4e"
      },
      {
        "parameters": {
          "operation": "update",
          "id": {
            "__rl": true,
            "value": "={{ $json.Card_id }}",
            "mode": "id"
          },
          "updateFields": {
            "idList": "={{ $('Get row(s)').item.json.List_id }}",
            "name": "={{ $json.Name }} - {{ $('Webhook').item.json.body.rows[0][2] }}"
          }
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          912,
          -80
        ],
        "id": "8fd7f803-c313-47a4-b874-3ad2ebf3aeb9",
        "name": "Update a card",
        "credentials": {
          "trelloApi": {
            "id": "PsyFp6FXm7MYDa2g",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "uvI7Ge8FDVvd27zs",
            "mode": "list",
            "cachedResultName": "Status",
            "cachedResultUrl": "/projects/2KiFcKNLK1JyaklJ/datatables/uvI7Ge8FDVvd27zs"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Status",
                "keyValue": "={{ $json['2'] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          304,
          0
        ],
        "id": "7867625a-51f4-48d2-af84-3bbd1e8a93d4",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "UGkPp2JsYJ17J6KL",
            "mode": "list",
            "cachedResultName": "Rihanna_klanten",
            "cachedResultUrl": "/projects/2KiFcKNLK1JyaklJ/datatables/UGkPp2JsYJ17J6KL"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Name",
                "keyValue": "={{ $('Split Out').item.json['0'] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          480,
          0
        ],
        "id": "e87cd63c-67ee-4b31-a9dd-bb1e51d53616",
        "name": "Get row(s)1"
      },
      {
        "parameters": {
          "fieldToSplitOut": "body.rows",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          128,
          0
        ],
        "id": "e38568ca-7c99-476f-9473-503cd60bf671",
        "name": "Split Out"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM",
            "mode": "list",
            "cachedResultName": "Example Accountant",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1587559629,
            "mode": "list",
            "cachedResultName": "Logs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit#gid=1587559629"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Source": "Excel",
              "Destination": "Trello",
              "Date": "={{ $now.toFormat('dd-MM-yyyy') }}",
              "Client": "={{ $('Split Out').item.json['0'] }}",
              "Action": "=Changed Stage to  {{ $('Split Out').item.json['2'] }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Source",
                "displayName": "Source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Destination",
                "displayName": "Destination",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Client",
                "displayName": "Client",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Action",
                "displayName": "Action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1088,
          -80
        ],
        "id": "4aa16231-0b4d-4500-a03f-5bde7a9cf947",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XkUcr0YLOP2CkVg1",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "18a2b4e5-0aa7-4fe3-aa4f-3ada56383adc",
                "leftValue": "={{ $('Get row(s)').item.json.List_id }}",
                "rightValue": "69ad5fbabf62b8fde79d9c19",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          688,
          0
        ],
        "id": "488c9d38-9460-4338-b0f5-424ca2664963",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "update",
          "id": {
            "__rl": true,
            "value": "={{ $('Get row(s)1').item.json.Card_id }}",
            "mode": "id"
          },
          "updateFields": {
            "idList": "={{ $json.Id }}",
            "name": "={{ $('Get row(s)1').item.json.Name }} - {{ $('Webhook').item.json.body.rows[0][2] }}"
          }
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          1040,
          208
        ],
        "id": "0af72a64-5860-43f3-a362-1f0809e20f40",
        "name": "Update a card1",
        "credentials": {
          "trelloApi": {
            "id": "PsyFp6FXm7MYDa2g",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM",
            "mode": "list",
            "cachedResultName": "Example Accountant",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1587559629,
            "mode": "list",
            "cachedResultName": "Logs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit#gid=1587559629"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Source": "Excel",
              "Destination": "Trello",
              "Date": "={{ $now.toFormat('dd-MM-yyyy') }}",
              "Client": "={{ $('Split Out').item.json['0'] }}",
              "Action": "=Changed Stage to  {{ $('Split Out').item.json['2'] }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Source",
                "displayName": "Source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Destination",
                "displayName": "Destination",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Client",
                "displayName": "Client",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Action",
                "displayName": "Action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1216,
          208
        ],
        "id": "ff7cea9a-1e7a-44d2-92eb-2ae388eb060c",
        "name": "Append row in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XkUcr0YLOP2CkVg1",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "d3l0lJS58ROZkyzw",
            "mode": "list",
            "cachedResultName": "Lists",
            "cachedResultUrl": "/projects/2KiFcKNLK1JyaklJ/datatables/d3l0lJS58ROZkyzw"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "List",
                "keyValue": "={{ $('Split Out').item.json['3'] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          880,
          160
        ],
        "id": "f4fe6342-3f9f-4bdd-884a-419a3038c82d",
        "name": "Get row(s)2"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Get row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a card": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          []
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Update a card",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get row(s)2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a card1": {
        "main": [
          [
            {
              "node": "Append row in sheet1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet1": {
        "main": [
          []
        ]
      },
      "Get row(s)2": {
        "main": [
          [
            {
              "node": "Update a card1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "peter aistralis",
    "name": "Version 232226cb",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-21T12:41:09.204Z",
        "id": 396,
        "workflowId": "VZdrFC077CALDaVH",
        "versionId": "232226cb-9b19-465d-a723-238b7f020dad",
        "event": "activated",
        "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094"
      }
    ]
  }
}