Accountancy_from_Trello
{
  "updatedAt": "2026-03-20T18:01:33.192Z",
  "createdAt": "2026-03-19T17:40:50.636Z",
  "id": "vS1jwbfv50p3y3K4",
  "name": "Accountancy_from_Trello",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "id": "69ad0ebb1741deeacae63aca"
      },
      "type": "n8n-nodes-base.trelloTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        0
      ],
      "id": "dfe22d6f-6605-4dcd-b512-c45318126419",
      "name": "Trello Trigger",
      "webhookId": "db7995bb-a9df-48a9-9c58-4aa1dd1c6e71",
      "credentials": {
        "trelloApi": {
          "id": "PsyFp6FXm7MYDa2g",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f8b7009-5f8e-4dfd-a2c2-6898e5b478fb",
              "name": "action",
              "value": "={{ $json.action.data.card.name }}",
              "type": "string"
            },
            {
              "id": "87fa0fb3-c577-47b6-8f11-7d7235b99fe4",
              "name": "Name Client",
              "value": "={{ $json.action.data.card.name.split('-')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "d7f44ebe-0703-463f-ab5f-33249ffcf030",
              "name": "New Status",
              "value": "={{ $json.action.data.listAfter.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        0
      ],
      "id": "9e542044-269a-4c78-941e-a99e7a29bc25",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM",
          "mode": "list",
          "cachedResultName": "Example Accountant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Dossier": "={{ $json['Name Client'] }}",
            "Status": "={{ $json['New Status'] }}"
          },
          "matchingColumns": [
            "Dossier"
          ],
          "schema": [
            {
              "id": "Dossier",
              "displayName": "Dossier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Stage",
              "displayName": "Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dringend",
              "displayName": "Dringend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        0
      ],
      "id": "56679817-f615-4bb1-9c18-31527c0e7cbf",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XkUcr0YLOP2CkVg1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM",
          "mode": "list",
          "cachedResultName": "Example Accountant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1587559629,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit#gid=1587559629"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.toFormat('dd-MM-yyyy') }}",
            "Source": "Trello",
            "Destination": "Excel",
            "Client": "={{ $('Edit Fields').item.json['Name Client'] }}",
            "Action": "=Changed Status to {{ $json.Status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Destination",
              "displayName": "Destination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        0
      ],
      "id": "120d9c0f-287a-402b-afef-d7d3d4070324",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XkUcr0YLOP2CkVg1",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Trello Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "561d0823-4efe-4e01-841f-7c0fb9e33999",
  "activeVersionId": "a09d0136-5a85-48b0-a23a-4ff15650b7bd",
  "versionCounter": 64,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-19T17:40:50.636Z",
      "createdAt": "2026-03-19T17:40:50.636Z",
      "role": "workflow:owner",
      "workflowId": "vS1jwbfv50p3y3K4",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8790342e-b65e-4ef9-99ec-48a531aa0094"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-20T18:00:14.455Z",
    "createdAt": "2026-03-20T18:00:10.458Z",
    "versionId": "a09d0136-5a85-48b0-a23a-4ff15650b7bd",
    "workflowId": "vS1jwbfv50p3y3K4",
    "nodes": [
      {
        "parameters": {
          "id": "69ad0ebb1741deeacae63aca"
        },
        "type": "n8n-nodes-base.trelloTrigger",
        "typeVersion": 1,
        "position": [
          -288,
          0
        ],
        "id": "dfe22d6f-6605-4dcd-b512-c45318126419",
        "name": "Trello Trigger",
        "webhookId": "db7995bb-a9df-48a9-9c58-4aa1dd1c6e71",
        "credentials": {
          "trelloApi": {
            "id": "PsyFp6FXm7MYDa2g",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9f8b7009-5f8e-4dfd-a2c2-6898e5b478fb",
                "name": "action",
                "value": "={{ $json.action.data.card.name }}",
                "type": "string"
              },
              {
                "id": "87fa0fb3-c577-47b6-8f11-7d7235b99fe4",
                "name": "Name Client",
                "value": "={{ $json.action.data.card.name.split('-')[0].trim() }}",
                "type": "string"
              },
              {
                "id": "d7f44ebe-0703-463f-ab5f-33249ffcf030",
                "name": "New Status",
                "value": "={{ $json.action.data.list.name }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -80,
          0
        ],
        "id": "9e542044-269a-4c78-941e-a99e7a29bc25",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM",
            "mode": "list",
            "cachedResultName": "Example Accountant",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Master",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Dossier": "={{ $json['Name Client'] }}",
              "Status": "={{ $json['New Status'] }}"
            },
            "matchingColumns": [
              "Dossier"
            ],
            "schema": [
              {
                "id": "Dossier",
                "displayName": "Dossier",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Type",
                "displayName": "Type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Stage",
                "displayName": "Stage",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last Updated",
                "displayName": "Last Updated",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Deadline",
                "displayName": "Deadline",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Dringend",
                "displayName": "Dringend",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Notes",
                "displayName": "Notes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          128,
          0
        ],
        "id": "56679817-f615-4bb1-9c18-31527c0e7cbf",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XkUcr0YLOP2CkVg1",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM",
            "mode": "list",
            "cachedResultName": "Example Accountant",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1587559629,
            "mode": "list",
            "cachedResultName": "Logs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14UsKI5FQv6SoB2cFKxcxda-BNGnMAoTtd-kqHKxbejM/edit#gid=1587559629"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Date": "={{ $now.toFormat('dd-MM-yyyy') }}",
              "Source": "Trello",
              "Destination": "Excel",
              "Client": "={{ $('Edit Fields').item.json['Name Client'] }}",
              "Action": "=Changed Status to {{ $json.Status }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Source",
                "displayName": "Source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Destination",
                "displayName": "Destination",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Client",
                "displayName": "Client",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Action",
                "displayName": "Action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          336,
          0
        ],
        "id": "120d9c0f-287a-402b-afef-d7d3d4070324",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XkUcr0YLOP2CkVg1",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Trello Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "peter aistralis",
    "name": "Version a09d0136",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-20T18:00:14.451Z",
        "id": 372,
        "workflowId": "vS1jwbfv50p3y3K4",
        "versionId": "a09d0136-5a85-48b0-a23a-4ff15650b7bd",
        "event": "activated",
        "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094"
      }
    ]
  }
}