Incoming_PFA
{
  "updatedAt": "2025-11-28T18:11:12.743Z",
  "createdAt": "2025-11-14T10:13:44.431Z",
  "id": "IgPl6godZmp2eO6t",
  "name": "Incoming_PFA",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -944,
        -304
      ],
      "id": "1a9d52c8-8fe8-4cd8-bfff-b1dd118d24c6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a strict accountant AI. You receive either:\n- a natural-language description of expenses, or\n- a receipt text.\n\nYour ONLY task is to produce a JSON object that exactly matches this schema:\n\n{\n  \"date\": \"string\",\n  \"description\": \"string\",\n  \"has_receipt\": \"boolean\",\n  \"payment_method\": \"string\",\n  \"items\": [\n    {\n      \"item_name\": \"string or null\",\n      \"quantity\": \"number or null\",\n      \"unit_price\": \"string or null\",\n      \"total_price\": \"string or null\",\n      \"location\": \"string or null\"\n    }\n  ]\n}\n\nCRITICAL RULES (follow exactly):\n\nNormalization rules (VERY IMPORTANT):\nAlways convert item names to their base canonical form.\nUse these equivalence rules:\n\nAny phrase that includes “marlboro”, “pack of marlboro”, “cigarettes”, “cigs” → item_name = \"marlboro\"\n\nAny phrase that includes “beer”, “glass of beer”, “bintang”, “draught beer” → item_name = \"beer\"\n\nAny phrase that includes “martini”, “glass of martini”, “a martini” → item_name = \"martini\"\n\nIf a quantity is expressed indirectly (e.g., “a beer”, “1 glass of beer”), treat it as quantity = 1, unless stated otherwise.\n\n1. Output **only** a JSON object. No explanations. No markdown. No commentary.\n2. All keys must exist. Never omit a required field.\n3. Use **double quotes** for all strings.\n4. For missing values, use **null** (not \"null\").\n5. For \"quantity\", output a **number**, never a string.\n6. \"date\":\n   - If the text contains a date → extract it as \"YYYY-MM-DD\".\n   - Otherwise → use {{$now}}.\n7. \"description\": a short human description of the expense.\n8. \"has_receipt\": true only if the text explicitly mentions a receipt.\n9. \"payment_method\":\n   - If mentioned (cash/card/debit/credit/etc), use it.\n   - Otherwise: \"cash\".\n10. \"items\": always output an array.\n11. Extract every item mentioned in the text:\n    - Drinks, food, services, activities.\n12. If an item has no price → unit_price = null, total_price = null.\n13. If the place is mentioned (e.g., Bali Social Club) → set \"location\" to that string.\n14. If the text describes an activity (e.g., “played padel”) → create a service item:\n    {\n      \"item_name\": \"Padel Session Fee\",\n      \"quantity\": 1,\n      \"unit_price\": null,\n      \"total_price\": null,\n      \"location\": \"<place or null>\"\n    }\n\nYour output must start with `{` and end with `}`. No text before or after.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -528,
        -80
      ],
      "id": "25cf4a7c-4e2e-4095-9526-c8bf6e8ef221",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -640,
        144
      ],
      "id": "55075ab6-fc95-4dd0-b7fa-729f15867d08",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"Expense\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"date\": { \"type\": \"string\" },\n    \"description\": { \"type\": \"string\" },\n    \"has_receipt\": { \"type\": \"boolean\" },\n    \"payment_method\": { \"type\": \"string\" },\n    \"items\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"item_name\": { \"type\": [\"string\", \"null\"] },\n          \"quantity\": { \"type\": [\"number\", \"null\"] },\n          \"unit_price\": { \"type\": [\"string\", \"null\"] },\n          \"total_price\": { \"type\": [\"string\", \"null\"] },\n          \"location\": { \"type\": [\"string\", \"null\"] }\n        },\n        \"required\": [\n          \"item_name\",\n          \"quantity\",\n          \"unit_price\",\n          \"total_price\",\n          \"location\"\n        ]\n      }\n    }\n  },\n  \"required\": [\"date\", \"description\", \"has_receipt\", \"payment_method\", \"items\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -320,
        96
      ],
      "id": "4e0e7e26-4f80-4f8b-92e3-649e2029e679",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "item_categories",
        "filters": {
          "conditions": [
            {
              "keyName": "item_name",
              "condition": "eq",
              "keyValue": "={{ $json.item_name.toLowerCase() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        -64
      ],
      "id": "924acc9e-fad7-4c50-91ce-d5dd08e893cd",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "KZ6ufBeRCXc7olwi",
          "name": "Supabase ZerioBox"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -208,
        -80
      ],
      "id": "a65d7f9a-e25f-4ea8-a32d-590f404f7eea",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        -80
      ],
      "id": "273e3031-be79-4fbc-aec9-93beb8c9a3f1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "knowledge_base",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "location",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.location.toLowerCase() }}"
            },
            {
              "keyName": "item_name",
              "condition": "eq",
              "keyValue": "={{ $json.item_name.toLowerCase() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        -16
      ],
      "id": "40bfc82d-e257-45df-b7ec-41cccfe6ee40",
      "name": "Get many rows1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "KZ6ufBeRCXc7olwi",
          "name": "Supabase ZerioBox"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2feeff6d-adc8-4529-bab4-078a39d18875",
              "name": "total_price",
              "value": "={{ (parseFloat($('Get many rows1').item.json.unit_price) || 0) * (parseFloat($('Loop Over Items').item.json.quantity) || 0) }}\n",
              "type": "number"
            },
            {
              "id": "c340caa5-a9e4-482e-8992-3e9d5035dca5",
              "name": "item_name",
              "value": "={{ $json.item_name }}",
              "type": "string"
            },
            {
              "id": "d3c80b5f-c334-4d9f-b2fc-64bef76105ff",
              "name": "subcategory",
              "value": "={{ $json.subcategory }}",
              "type": "string"
            },
            {
              "id": "ede17fca-9b71-4c1f-a7b3-51f403e4ad93",
              "name": "category_id",
              "value": "={{ $json.category_id }}",
              "type": "string"
            },
            {
              "id": "ebe3e411-5961-42dc-bd38-326a5340a2fe",
              "name": "location",
              "value": "={{ $('Get many rows1').item.json.location }}",
              "type": "string"
            },
            {
              "id": "7fa2dce0-07cc-4428-993b-ee7ff91c9f8f",
              "name": "item_name",
              "value": "={{ $('Get many rows1').item.json.item_name }}",
              "type": "string"
            },
            {
              "id": "40147e72-3e39-46f2-b8f2-d63a77b7855d",
              "name": "unit_price",
              "value": "={{ $('Get many rows1').item.json.unit_price }}",
              "type": "string"
            },
            {
              "id": "b40f43a2-57bd-4422-a3bc-060a7f5265ee",
              "name": "quantity",
              "value": "={{ $('Loop Over Items').item.json.quantity }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -64
      ],
      "id": "a391d2a8-0ca1-4551-964d-d7be16e447e7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        224,
        -336
      ],
      "id": "0c674186-6c4d-4932-a9a6-29348526c4f5",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        -336
      ],
      "id": "ef006519-1ee2-47da-8636-3d9b30e8fe44",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "total_price"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        688,
        -336
      ],
      "id": "74b1b087-57da-4d44-a285-e7921839b639",
      "name": "Summarize"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5935f8a5-a0be-45b8-90d0-57edcb9c5c7e",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        -16
      ],
      "id": "24b51f59-139e-4ef8-84af-8144f3c7d05c",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93266b52-1925-4a74-802c-527f5fe49288",
              "name": "ask",
              "value": "=how much did you pay for one {{ $('Loop Over Items').item.json.item_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        496
      ],
      "id": "a2e16409-5ca5-4267-b2c1-a2bb80413647",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da7a7b83-698c-46c3-a45e-cf929d3316b2",
              "leftValue": "={{ $('Loop Over Items').item.json.unit_price || $('Loop Over Items').item.json.total_price}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        240
      ],
      "id": "f66b2266-a7cf-40e7-8948-7df80d8d7384",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "knowledge_base",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "location",
              "fieldValue": "={{ $('Loop Over Items').item.json.location.toLowerCase() }}"
            },
            {
              "fieldId": "item_name",
              "fieldValue": "={{ $('Loop Over Items').item.json.item_name.toLowerCase() }}"
            },
            {
              "fieldId": "unit_price",
              "fieldValue": "={{ $('Loop Over Items').item.json.unit_price || $('Loop Over Items').item.json.total_price / $('Loop Over Items').item.json.quantity }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        192
      ],
      "id": "4298e1eb-e990-408c-b668-d3a435e2f17e",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "KZ6ufBeRCXc7olwi",
          "name": "Supabase ZerioBox"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Loop Over Items').item.json.item_name }}",
        "options": {
          "systemMessage": "You are a helpful assistant and you have to classify what the item is in.\nThe options are: drinks, sports, tobacco \nOnly output the option you have found, nothing else"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        768,
        160
      ],
      "id": "bca5c94f-76e0-43f1-8f82-88bddad7f243",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        336
      ],
      "id": "9e81366d-241a-4f60-af70-cce3bdf9b7cb",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "item_categories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "item_name",
              "fieldValue": "={{ $('Loop Over Items').item.json.item_name }}"
            },
            {
              "fieldId": "subcategory",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "category_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1136,
        560
      ],
      "id": "b6319621-59c7-47e3-956e-1b2989f1ebb4",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "KZ6ufBeRCXc7olwi",
          "name": "Supabase ZerioBox"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "categories",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ $('AI Agent1').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1328,
        368
      ],
      "id": "6df503ce-a4ea-4800-b036-ba32e0af0dd2",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "KZ6ufBeRCXc7olwi",
          "name": "Supabase ZerioBox"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2feeff6d-adc8-4529-bab4-078a39d18875",
              "name": "total_price",
              "value": "={{ parseFloat($('Create a row').item.json.unit_price || 0) * (parseFloat($('Loop Over Items').item.json.quantity) || 0) }}\n",
              "type": "number"
            },
            {
              "id": "c340caa5-a9e4-482e-8992-3e9d5035dca5",
              "name": "item_name",
              "value": "={{ $json.item_name }}",
              "type": "string"
            },
            {
              "id": "d3c80b5f-c334-4d9f-b2fc-64bef76105ff",
              "name": "subcategory",
              "value": "={{ $json.subcategory }}",
              "type": "string"
            },
            {
              "id": "ede17fca-9b71-4c1f-a7b3-51f403e4ad93",
              "name": "category_id",
              "value": "={{ $json.category_id }}",
              "type": "string"
            },
            {
              "id": "ebe3e411-5961-42dc-bd38-326a5340a2fe",
              "name": "location",
              "value": "={{ $('Create a row').item.json.location }}",
              "type": "string"
            },
            {
              "id": "7fa2dce0-07cc-4428-993b-ee7ff91c9f8f",
              "name": "item_name",
              "value": "={{ $json.item_name }}",
              "type": "string"
            },
            {
              "id": "40147e72-3e39-46f2-b8f2-d63a77b7855d",
              "name": "unit_price",
              "value": "={{ $('Create a row').item.json.unit_price }}",
              "type": "string"
            },
            {
              "id": "b40f43a2-57bd-4422-a3bc-060a7f5265ee",
              "name": "quantity",
              "value": "={{ $('Loop Over Items').item.json.quantity }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        592
      ],
      "id": "6584b987-06b2-45e2-9acb-67731235f484",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "123456"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -544,
        128
      ],
      "id": "df238599-328c-49d3-88a7-1f7fdb25d6db",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a62aa4b-683d-4d9d-a27a-50c2a5aac8f8",
              "name": "=answer",
              "value": "=your entry for {{ $('When Executed by Another Workflow').item.json.query }} has been entered in the db\ntotal price was: {{ $json.sum_total_price }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -336
      ],
      "id": "fc60fa51-d507-449a-9288-990c441c7fb2",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  // 1. Safely check for query existence\n  if (item.json.query && typeof item.json.query === 'string') {\n    let query = item.json.query.toLowerCase();\n\n    // 2. REFINED CHECK: Look for the specific corrupted pattern: \n    // [1 beer] [and] [1 milkshake] [for price]\n    // The expression looks for: (quantity + word) + (and/comma) + (quantity + word) + (price at end)\n    const corruption_regex = /(\\d+\\s+\\w+)\\s+(and|,)\\s+(\\d+\\s+\\w+).*(\\d+|,|\\.)+$/i;\n\n    if (query.match(corruption_regex)) {\n      \n      // Split the string by the conjunction to isolate the corrected item\n      const parts = query.split(/and|,/);\n      \n      // Keep only the last part (the one containing the price correction)\n      const correctedItem = parts.pop().trim();\n      \n      // Set the item's query to the clean input\n      item.json.query = correctedItem;\n    }\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -352
      ],
      "id": "50c2adb6-d544-4d84-9c18-be866c5f60d5",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "I did buy 2 packs of marlboro in bali social club and I paid 110000"
        }
      }
    ]
  },
  "versionId": "ac4331e1-5910-4346-bdae-5044d3f212d0",
  "versionCounter": 160,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-14T10:13:44.431Z",
      "createdAt": "2025-11-14T10:13:44.431Z",
      "role": "workflow:owner",
      "workflowId": "IgPl6godZmp2eO6t",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-05T04:34:00.267Z",
            "createdAt": "2025-07-05T04:34:00.267Z",
            "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094",
            "projectId": "2KiFcKNLK1JyaklJ",
            "user": {
              "updatedAt": "2025-11-29T00:00:32.558Z",
              "createdAt": "2025-07-05T04:33:38.764Z",
              "id": "8790342e-b65e-4ef9-99ec-48a531aa0094",
              "email": "peterjawel@gmail.com",
              "firstName": "peter",
              "lastName": "aistralis",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-05T04:35:25.871Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FAkXhJwuAslD2JDu",
                "userActivatedAt": 1751716484498,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753381963375
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ]
}