my error workflow
{
  "updatedAt": "2025-11-25T08:01:31.289Z",
  "createdAt": "2025-11-25T06:56:27.980Z",
  "id": "r1hEZ8InOj91e2BD",
  "name": "my error workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ac737b38-54c8-416d-a9f2-09682191d7eb",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "peterjawel@gmail.com",
        "subject": "There is an error",
        "message": "=Hey Peter\n\nThere is an error in your workflows <br>\n- Name of workflow:{{ $json.workflow.name }}\n- Error Message:{{ $json.execution.error.message }}\n- Url:{{ $json.execution.url }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        -176
      ],
      "id": "74cf794f-d6ce-4b3d-b3eb-66a46a17c18f",
      "name": "Send a message",
      "webhookId": "f73b30ad-b5cc-472f-8184-c2e7e5cdba93",
      "credentials": {
        "gmailOAuth2": {
          "id": "NJotz0jOs2Osf7BJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "2034253630",
        "text": "=Hey Peter\n\nThere is an error in your workflows <br>\n- Name of workflow:{{ $json.workflow.name }}\n- Error Message:{{ $json.execution.error.message }}\n- Url:{{ $json.execution.url }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "8f0ce708-7d6a-4882-ab6a-ccc82b3cd3ac",
      "name": "Send a text message",
      "webhookId": "e712e8cd-f158-43a7-b01f-4fc25cb43f4e",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mir2NAkwdv00MAVOLPLACSZh4cccDBeQfL9hYrUhAco",
          "mode": "list",
          "cachedResultName": "Error Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mir2NAkwdv00MAVOLPLACSZh4cccDBeQfL9hYrUhAco/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mir2NAkwdv00MAVOLPLACSZh4cccDBeQfL9hYrUhAco/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{ $now }}",
            "Name": "={{ $json.workflow.name }}",
            "Url": "={{ $json.execution.url }}",
            "Level": "={{ $json.execution.error.level }}",
            "Error": "={{ $json.execution.error.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Level",
              "displayName": "Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        144
      ],
      "id": "6423c8e0-6013-49aa-bbba-1e58b7ade415",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XkUcr0YLOP2CkVg1",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "38389",
            "url": "https://workflows.zeriobox.com/workflow/ob0wQC6ogWLN5iHi/executions/38389",
            "error": {
              "level": "warning",
              "tags": {},
              "description": "Not Found",
              "timestamp": 1764057299477,
              "context": {
                "itemIndex": 0,
                "request": {
                  "headers": {
                    "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"
                  },
                  "method": "GET",
                  "uri": "https://catfact.ninja/fact-new",
                  "gzip": true,
                  "rejectUnauthorized": true,
                  "followRedirect": true,
                  "resolveWithFullResponse": true,
                  "followAllRedirects": true,
                  "timeout": 300000,
                  "encoding": null,
                  "json": false,
                  "useStream": true
                }
              },
              "functionality": "regular",
              "name": "NodeApiError",
              "node": {
                "parameters": {
                  "preBuiltAgentsCalloutHttpRequest": "",
                  "curlImport": "",
                  "method": "GET",
                  "url": "https://catfact.ninja/fact-new",
                  "authentication": "none",
                  "provideSslCertificates": false,
                  "sendQuery": false,
                  "sendHeaders": false,
                  "sendBody": false,
                  "options": {},
                  "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.3,
                "position": [
                  256,
                  16
                ],
                "id": "b450a9fe-e6b8-473d-b2e7-df46feb9b6ea",
                "name": "HTTP Request"
              },
              "messages": [
                "404 - \"{\\\"message\\\":\\\"Not Found\\\",\\\"code\\\":404}\""
              ],
              "httpCode": "404",
              "message": "The resource you are requesting could not be found",
              "stack": "NodeApiError: The resource you are requesting could not be found\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_afd197edb2c1f848eae21a96a97fab23/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:858:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1093:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1274:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1708:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2324:11"
            },
            "lastNodeExecuted": "HTTP Request",
            "mode": "webhook"
          },
          "workflow": {
            "id": "ob0wQC6ogWLN5iHi",
            "name": "My workflow 2"
          }
        }
      }
    ]
  },
  "versionId": "702356f4-71bd-495d-b3b6-b399b60ee09a",
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-25T06:56:27.980Z",
      "createdAt": "2025-11-25T06:56:27.980Z",
      "role": "workflow:owner",
      "workflowId": "r1hEZ8InOj91e2BD",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-05T04:34:00.267Z",
            "createdAt": "2025-07-05T04:34:00.267Z",
            "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094",
            "projectId": "2KiFcKNLK1JyaklJ",
            "user": {
              "updatedAt": "2025-11-26T00:00:58.347Z",
              "createdAt": "2025-07-05T04:33:38.764Z",
              "id": "8790342e-b65e-4ef9-99ec-48a531aa0094",
              "email": "peterjawel@gmail.com",
              "firstName": "peter",
              "lastName": "aistralis",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-05T04:35:25.871Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FAkXhJwuAslD2JDu",
                "userActivatedAt": 1751716484498,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753381963375
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-25",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ]
}