OCR_Advanced
{
  "updatedAt": "2026-05-01T13:09:02.600Z",
  "createdAt": "2026-02-19T07:56:12.781Z",
  "id": "oRF3tz6U0TcimYnt",
  "name": "OCR_Advanced",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1WsJ33ixEOlrfwYRaY3rbNYaFd46Oskdm",
          "mode": "list",
          "cachedResultName": "test_1.jpeg",
          "cachedResultUrl": "https://drive.google.com/file/d/1WsJ33ixEOlrfwYRaY3rbNYaFd46Oskdm/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        0
      ],
      "id": "7fbccd62-b444-474f-90b7-a57b8b494ee1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a precise OCR transcription engine. Your only job is to transcribe exactly what is visually present in the image. You will complete this task in three explicit steps, and you must show all steps in your output.\nGround Rules (apply to all steps):\n\nTranscribe only what is explicitly visible. Do not auto-correct spelling, do not finish incomplete sentences, and do not infer context.\nIf a word looks like a misspelling of a real word, transcribe the misspelling exactly. Do not substitute the likely intended word.\nEvaluate every character independently AND in sequence. Do not use surrounding words or sentence context to resolve unclear characters.\n\nCRITICAL — Transposition Rule: Before finalizing any word, verify the exact left-to-right order of every character. A word like \"bitter\" could be written as \"bittre\" — the characters may all be correct but in the wrong order. Do not assume the order matches a known word. Read the sequence as written, not as expected.\n\nCRITICAL — Common Word Trap: The more familiar a word looks, the more dangerous it is. Common words like \"every\", \"large\", \"happy\" are highest risk for silent auto-correction. Treat these with extra suspicion, not extra confidence.\nWhen in doubt, always prefer [?] over a guess. A transcription with [?] markers is more valuable than one with confidently wrong characters.\nPreserve all original line breaks, indentations, and spacing exactly as they appear in the image.\n\n\n\nStep 1 — Raw Draft:\nTranscribe the image as-is, character by character, left to right, with no corrections or interpretations. For every word, explicitly read and output each character in the exact order you see it — do not let word recognition override character sequence. Output this in a code block. This is your working draft, not your final answer.\nStep 2 — Doubt Review:\nGo through your Step 1 draft word by word. For every word, ask yourself two questions:\n\n\"Am I 90% or more confident in every individual character, evaluated independently of context?\"\n\"Have I verified the exact left-to-right character order, without assuming it matches a known word?\"\n\nFor each word where either answer is no, write it out like this:\n\nWord: [your transcription] → Reason for doubt: [explain which character(s) or their order is ambiguous] → Revised: [corrected version with [?] markers]\n\nIf you are fully confident in both the characters AND their order, skip it.\nStep 3 — Final Output:\nApply all revisions from Step 2 to your Step 1 draft. Output the final result in a code block, preserving all original formatting.\nIMPORTANT OUTPUT INSTRUCTION:\nYou must return ONLY valid JSON. Do not include markdown, code blocks, or explanations outside the JSON structure.\nReturn strictly this format:\n{\n  \"step_1_raw_draft\": \"...\",\n  \"step_2_doubt_review\": \"...\",\n  \"step_3_final_output\": \"...\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        336,
        0
      ],
      "id": "e7013c63-1ead-4235-8fd0-257078add5bb",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "83079fcc-58a7-4798-ac8d-be5424e0e04d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        208
      ],
      "id": "f73ac6bf-5342-409e-a4c4-73e73dadd815",
      "name": "Gemini 2.5 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "hxuUpUy1J8QhbA96",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"step_1_raw_draft\": \"Your character-by-character transcription with no corrections.\",\n  \"step_2_doubt_review\": \"Your word-by-word analysis of every word where you are <90% confident. Format: Word: [transcription] -> Reason: [why] -> Revised: [with ? markers].\",\n  \"step_3_final_output\": \"The final transcription with all revisions and markers applied, inside a code block format.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        496,
        192
      ],
      "id": "9219061e-c496-41f8-b50e-51e62d0190eb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1L_-P4vGK3lgJQ-wmj5InmI3IlG4qHZ30GHH2nsG81VM",
          "mode": "list",
          "cachedResultName": "boekhouders_NL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L_-P4vGK3lgJQ-wmj5InmI3IlG4qHZ30GHH2nsG81VM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1575746680,
          "mode": "list",
          "cachedResultName": "ocr",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L_-P4vGK3lgJQ-wmj5InmI3IlG4qHZ30GHH2nsG81VM/edit#gid=1575746680"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.output }}"
          },
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        160
      ],
      "id": "bf014df8-98fd-4f2f-8f50-a27f5bf06430",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XkUcr0YLOP2CkVg1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f611740d-664a-4a25-b48b-1266e4be52ad",
              "leftValue": "={{ $json.output.step_3_final_output }}",
              "rightValue": "[?]",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        -32
      ],
      "id": "0bf4bafc-4caa-461c-b9df-715b80e70e01",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1YDofthAyhzxRRZacm_zLbKJgZayrOHfs",
          "mode": "list",
          "cachedResultName": "test_text.jpeg",
          "cachedResultUrl": "https://drive.google.com/file/d/1YDofthAyhzxRRZacm_zLbKJgZayrOHfs/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        912,
        160
      ],
      "id": "37d3d131-6249-4a9d-b595-76f8fccdfc51",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Task: Refine the transcription from Agent 1 by resolving uncertainty markers ([?]) and identifying potential misreadings using linguistic context and visual re-verification.\n\nInput Data:\n\nDraft Transcription: {{ $json.text.step_3_final_output }}\n\nDoubt Analysis: {{ $json.text.step_2_doubt_review }}\n\nOriginal Image: {{ $binary.data }}\n\nInstructions:\n\nResolve Uncertainty: Examine every instance of [?] or [???]. Use the surrounding sentence structure and the original image to determine the most likely intended word.\n\nIdentify Linguistic Improbability: Review words that the first agent marked as \"confident\" but do not make sense in the sentence (e.g., a word that breaks the grammatical flow or tone). Re-examine the image to see if a similar-looking word fits the context better.\n\nDo NOT alter any word that was not marked with [?] or [???] by Agent 1. If Agent 1 was confident in a transcription, treat it as ground truth regardless of whether it makes linguistic sense. Your job is only to resolve marked uncertainty — not to second-guess Agent 1's confident readings.\n\nPreserve Author Intent: Distinguish between a writer's deliberate misspelling (e.g., \"whith\" or \"himsey\") and an OCR error. Keep the writer's original spelling if the characters are clearly formed, but resolve the word if the first agent simply misread the handwriting strokes.\n\nMaintain Formatting: Do not change the layout. Keep all original line breaks and spacing provided in the draft.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1120,
        160
      ],
      "id": "d227360d-29ff-4855-a6fc-69b065f11adb",
      "name": "AI Agent1"
    }
  ],
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "f5562ca0-b294-48ee-81cf-a10cdaf60f82",
  "activeVersionId": null,
  "versionCounter": 29,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-19T07:56:12.781Z",
      "createdAt": "2026-02-19T07:56:12.781Z",
      "role": "workflow:owner",
      "workflowId": "oRF3tz6U0TcimYnt",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8790342e-b65e-4ef9-99ec-48a531aa0094"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ],
  "activeVersion": null
}