Onboarding
{
  "updatedAt": "2026-03-05T12:42:16.637Z",
  "createdAt": "2026-03-01T08:57:21.657Z",
  "id": "Ms7d1n8FAO41VVlL",
  "name": "Onboarding",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "events": [
          "checkout.session.completed"
        ]
      },
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -96
      ],
      "id": "1a743ea4-2fa0-42c3-9194-9ba7dadbaab4",
      "name": "Stripe Trigger",
      "webhookId": "e01b0af5-1bb9-4a49-8c3a-372de75e2f70",
      "credentials": {
        "stripeApi": {
          "id": "g1pflT85wYxGMl6j",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.stripe.com/v1/checkout/sessions/{{ $json.data.object.id }}/line_items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        -96
      ],
      "id": "a562fe3e-d991-4e1b-aceb-ddac51a5521e",
      "name": "HTTP Request",
      "credentials": {
        "stripeApi": {
          "id": "g1pflT85wYxGMl6j",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "9a06e502-4643-4273-81a9-284ce16e263d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AWOgwCcJIJ2CoiVRB_VPIrnhFh_HnwczYCZ97Y3p4uU",
          "mode": "list",
          "cachedResultName": "Rendering Services",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AWOgwCcJIJ2CoiVRB_VPIrnhFh_HnwczYCZ97Y3p4uU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AWOgwCcJIJ2CoiVRB_VPIrnhFh_HnwczYCZ97Y3p4uU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Product_id",
              "lookupValue": "={{ $json.price.product }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        0
      ],
      "id": "49d93583-88be-4853-b4dd-79550d0bc5de",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XkUcr0YLOP2CkVg1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Documents + Renders for {{ $('Stripe Trigger').item.json.data.object.customer_details.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1K3KcY732Oul9O7U7fj_ANJKIitfZbv6A",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        -208
      ],
      "id": "a5ccaae2-4cc4-4f74-a434-c64610ca24ae",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "share",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "user",
            "emailAddress": "={{ $('Stripe Trigger').item.json.data.object.customer_details.email }}"
          }
        },
        "options": {
          "sendNotificationEmail": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -208
      ],
      "id": "60602f7a-7c43-4561-a67b-f7e10b70712e",
      "name": "Share folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Uploads",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        144,
        -208
      ],
      "id": "9ffa5d2a-3291-4bc6-b5cb-66e8961d3cf5",
      "name": "Create folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Final Renders",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        -208
      ],
      "id": "f6454e82-1e6d-4261-84dd-6228e4ca2187",
      "name": "Create folder2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf2941fb-966c-4497-93f6-2886b71ffa0b",
              "name": "Product_id",
              "value": "={{ $json.Product_id }}",
              "type": "string"
            },
            {
              "id": "6acea140-91dd-4fdb-ab91-4693e4f1ca40",
              "name": "Product_name",
              "value": "={{ $json.Product_name }}",
              "type": "string"
            },
            {
              "id": "fcc4caa2-1ba6-4e66-bd72-e9ddb10247fc",
              "name": "Loom_url",
              "value": "={{ $json.Loom_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        0
      ],
      "id": "a0a21acc-67b1-42e5-8a73-5f6ce6866d8b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b43622a5-e34f-4a48-8fbb-d4a87e360478",
              "name": "shared_folder",
              "value": "=https://drive.google.com/drive/folders/{{ $('Create folder').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -208
      ],
      "id": "e9203d3f-8c57-4dee-adcb-8e062ed94e3d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        -112
      ],
      "id": "e0ba738f-918d-4bda-b9a7-3c7e19d41bdd",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=System Instructions:\nYou are a professional proposal editor. Your task is to take a list of architectural visualization services and combine them into a single, grammatically correct, and concise title or sentence fragment.\n\nRules:\n\nIf both \"Interior Rendering\" and \"Exterior Rendering\" are present, combine them as \"Interior & Exterior Rendering\".\n\nUse \"and\" to connect \"Animation\" to the other services.\n\nDo not add any extra words or greetings.\n\nIf only one service is provided, output it exactly as is.\n\nExamples:\n\nInput: Interior Rendering, Exterior Rendering, Animation -> Output: Interior & Exterior Rendering and Animation\n\nInput: Interior Rendering, Animation -> Output: Interior Rendering and Animation\n\nInput: Interior Rendering, Exterior Rendering -> Output: Interior & Exterior Rendering\n\nInput: Exterior Rendering, Animation -> Output: Exterior Rendering and Animation\nInput:\nProduct names: {{ $json.Product_name }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        464,
        0
      ],
      "id": "6d13ce9e-856a-4283-8301-31d4336e0fbb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Product_name"
            },
            {
              "fieldToAggregate": "Loom_url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "id": "f3b4cac4-c1e3-4dee-b500-2714302a35dc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        192
      ],
      "id": "396047df-1f00-4943-ae23-6f7142303094",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        960,
        -112
      ],
      "id": "128bad9a-2ffd-4c38-a68b-911cce0525c4",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1wXrpVmtXUMt6gEJ8W1vZ78xpS1ml210_kbZQVKLOBAc",
          "mode": "list",
          "cachedResultName": "Onboarding",
          "cachedResultUrl": "https://docs.google.com/document/d/1wXrpVmtXUMt6gEJ8W1vZ78xpS1ml210_kbZQVKLOBAc/edit?usp=drivesdk"
        },
        "name": "Useful Documentation",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        -112
      ],
      "id": "53443b0e-fff7-4e50-88d6-fc5c374b9265",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1488,
        -112
      ],
      "id": "8fc36b00-ebdd-4abf-9164-1bb86ad40207",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "WHeRY1hw2tRHjuCJ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c17e96-e478-4943-9119-8397bff34b37",
              "name": "locatiom",
              "value": "={{ $json.content.indexOf(\"Shared Drive\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        352
      ],
      "id": "f9cd9278-d21e-443f-9167-95a5e9f49796",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $('Copy file').item.json.id }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"updateTextStyle\": {\n        \"textStyle\": {\n          \"link\": {\n            \"url\": \"{{ $('Aggregate1').item.json.data[0].shared_folder }}\"\n          }\n        },\n        \"range\": {\n          \"startIndex\": {{ $json.locatiom }},\n          \"endIndex\": {{ Number($json.locatiom) + 11 }} \n        },\n        \"fields\": \"link\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        352
      ],
      "id": "95962cbe-4f89-49ad-ab5e-4d2d28b132ed",
      "name": "HTTP Request3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "WHeRY1hw2tRHjuCJ",
          "name": "Google Docs account"
        },
        "oAuth2Api": {
          "id": "s3C4lrsUXNTatIUs",
          "name": "Google"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "[[first_name]]",
              "replaceText": "={{ $('Stripe Trigger').item.json.data.object.customer_details.name }}"
            },
            {
              "action": "replaceAll",
              "text": "[[package]]",
              "replaceText": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "action": "replaceAll",
              "text": "[[project_id]]",
              "replaceText": "R026-03-007"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1280,
        -112
      ],
      "id": "1fc0fbc4-8ecf-4e23-b77a-6e8a4865a34b",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "WHeRY1hw2tRHjuCJ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Copy file').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1136,
        352
      ],
      "id": "4a02e4e6-ff12-4342-a2b6-3f40ee4f8c35",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJNNS5V2L",
          "mode": "list",
          "cachedResultName": "rendering_for_peter"
        },
        "text": "=There is a new client!\n\nName: {{ $('Stripe Trigger').item.json.data.object.customer_details.name }}\nPackages: {{ $('AI Agent').item.json.output }}\n\nShared Folder: {{ $('Merge').first().json.shared_folder }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1712,
        256
      ],
      "id": "b7327ff6-d14f-4779-945e-c237c2e59c63",
      "name": "Send a message",
      "webhookId": "36bda79c-65fb-4af1-9f28-b3f54ca1bc8a",
      "credentials": {
        "slackApi": {
          "id": "V700Ft2dm0NEii1V",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Stripe Trigger').item.json.data.object.customer_details.email }}",
        "subject": "Your SketchUp Rendering Order is Confirmed — Here's How to Get Started",
        "message": "=<p>Hi {{ $('Stripe Trigger').item.json.data.object.customer_details.name }},</p>\n\n<p>Thank you for your order! We're excited to work on your rendering.</p>\n\n<p><strong>📁 Step 1 — Upload Your Files</strong></p>\n<p>Your personal folder is ready:<br>\n👉 <a href=\"{{ $('Aggregate1').item.json.data[0].shared_folder }}\">Click here to open your folder</a></p>\n\n<p><strong>🎬 Step 2 — Watch These Short Videos</strong></p>\n<p>📹 <a href=\"https://www.loom.com/share/73f1c8bde5b149ac9156079f503d9a7f\">How to prepare your SketchUp file</a><br>\n📹 <a href=\"https://www.loom.com/share/73f1c8bde5b149ac9156079f503d9a7f\">What to expect & delivery process</a></p>\n\n<p>Any questions? Just reply to this email.</p>\n\n<p>Looking forward to bringing your design to life! 🏡</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1712,
        96
      ],
      "id": "a838986c-f869-4f49-af6b-2602bed9ecbc",
      "name": "Send a message1",
      "webhookId": "4a18546d-1c2e-4f96-9407-451cc724e43d",
      "credentials": {
        "gmailOAuth2": {
          "id": "NJotz0jOs2Osf7BJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "2034253630",
        "text": "=Good news ...\nA new project is waiting for you\n\nHurry up and start working!\n\nCheck Slack/Email/Stripe/...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        432
      ],
      "id": "8c1712ed-983b-460d-bdcd-d5af32f7bfab",
      "name": "Send a text message",
      "webhookId": "64c90907-e7ed-4012-bf16-de4ffcb6a4f6",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1AWOgwCcJIJ2CoiVRB_VPIrnhFh_HnwczYCZ97Y3p4uU",
          "mode": "list",
          "cachedResultName": "Rendering Services",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AWOgwCcJIJ2CoiVRB_VPIrnhFh_HnwczYCZ97Y3p4uU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1648525668,
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AWOgwCcJIJ2CoiVRB_VPIrnhFh_HnwczYCZ97Y3p4uU/edit#gid=1648525668"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Stripe Trigger').item.json.data.object.customer_details.email }}",
            "Name": "={{ $('Stripe Trigger').item.json.data.object.customer_details.name }}",
            "Service": "={{ $('AI Agent').item.json.output }}",
            "Paid": "Yes",
            "Project_Id": "R026-03-007"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Paid",
              "displayName": "Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Project_Id",
              "displayName": "Project_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        624
      ],
      "id": "4691014e-47a2-4b94-bbca-773be1255032",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XkUcr0YLOP2CkVg1",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Stripe Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Share folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share folder": {
      "main": [
        [
          {
            "node": "Create folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder1": {
      "main": [
        [
          {
            "node": "Create folder2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "4a7YZEPYkxQyF3OH",
    "timeSavedPerExecution": 1
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "12773679-08dc-4fd2-9da3-67f6a51465b2",
  "versionCounter": 221,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-01T08:57:21.657Z",
      "createdAt": "2026-03-01T08:57:21.657Z",
      "role": "workflow:owner",
      "workflowId": "Ms7d1n8FAO41VVlL",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-05T04:34:00.267Z",
            "createdAt": "2025-07-05T04:34:00.267Z",
            "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094",
            "projectId": "2KiFcKNLK1JyaklJ",
            "user": {
              "updatedAt": "2026-03-06T00:00:57.840Z",
              "createdAt": "2025-07-05T04:33:38.764Z",
              "id": "8790342e-b65e-4ef9-99ec-48a531aa0094",
              "email": "peterjawel@gmail.com",
              "firstName": "peter",
              "lastName": "aistralis",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-05T04:35:25.871Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FAkXhJwuAslD2JDu",
                "userActivatedAt": 1751716484498,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769850829423
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ]
}