Private Financial Assistant
{
  "updatedAt": "2026-06-04T07:05:01.206Z",
  "createdAt": "2025-11-14T10:10:30.304Z",
  "id": "szUDREfsQyI0SRBC",
  "name": "Private Financial Assistant",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9eb8a7cb-d37b-47e7-a230-77708cc7cd57",
              "name": "question",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -256
      ],
      "id": "7ba2f828-4a9b-4683-9ce5-a479d2696c4b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "=You are a strict message router.\n\nYOUR RULES:\n1. Only process messages that come from the HUMAN.\n2. If the message originates from a 'Incoming_pfa' TOOL → DO NOT THINK. Apply the IF THE TOOL RETURNED A RESULT rules directly.\n\nTOOL RULES (MANDATORY):\n- When a HUMAN message is an expense or write request, your **ONLY** response MUST be the correctly formatted tool call to 'Incoming_PFA'.\n- When a HUMAN message is a retrieval or data request, your **ONLY** response MUST be the correctly formatted tool call to 'Retrieval_PFA'.\n- Forward the HUMAN'S raw message text exactly as received as the tool input.\n- **NEVER** generate any text, commentary, or summary when you are making a tool call.\n- **CRITICAL BLOCK:** DO NOT output any text that starts with \"Used tools:\", \"Tool:\", \"Result:\", or \"Input:\". This is internal log information that must never be exposed.\n- **CRITICAL TRANSACTION RULE:** If the human input is a single message containing a list, multiple line items, or a single receipt image, you MUST treat it as ONE SINGLE TRANSACTION. You must call the 'Incoming_PFA' tool **ONLY ONCE** with the entire, complete text input. NEVER split a single message into multiple tool calls.\n- NEVER GIVE YOUR OWN OPNION, YOU ONLY OUTPUT WHAT IS GIVEN TO YOU BY THE TOOLS OR SUB-AGENTS\n\nIF THE TOOL RETURNED A RESULT:\n- if you receive a result from the Call 'Retrieval_PFA'tool, you may create your own answer\n\n- **CRITICAL OUTPUT RULE:** Your final output MUST be clean and concise.\n\n- **1. ASK/QUESTION RESULT:** If the tool result contains the field \"ask\", you MUST output **ONLY** the text value of the \"ask\" field.\n\n- **2. FINAL CONFIRMATION RESULT:** If the tool result contains \"response\" or \"answer\", you MUST output **ONLY** the text value of the \"response\" or \"answer\" field.\n\n- **MANDATORY NEGATIVE CONSTRAINT (READ THIS CAREFULLY):** Under no circumstances are you to include any of your internal reasoning, tool execution logs, or traces in your final output. **DO NOT output any text that starts with \"Used tools:\", \"Tool:\", \"Input:\", \"Result:\", or any summary of the action you took.** Output **ONLY** the content requested above.\n\nDETECTION:\nIf the message contains fields like: \"ask\", \"item_name\", \"result\", \"output\" → This is a tool result → Apply the IF THE TOOL RETURNED A RESULT rules.\n\nDEFAULT:\nIf unsure → call Incoming_PFA (the write tool).\n\n\nCRITICAL EXECUTION RULE: You are a Tool Orchestrator, not a confirmation system. NEVER generate a confirmation message (e.g., \"I have logged the expense,\" or \"Data was added to the database\"). After calling a tool, your sole output is the raw JSON result received from that tool, which the main workflow will use for final message generation.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1296,
        0
      ],
      "id": "1c06c774-8452-4eb8-a79a-0459f9acd9d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1168,
        224
      ],
      "id": "eafe6a95-91ae-42a5-b718-87c0d7d0a845",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "call this tool if something needs to be written or updated  to the database ",
        "workflowId": {
          "__rl": true,
          "value": "IgPl6godZmp2eO6t",
          "mode": "list",
          "cachedResultUrl": "/workflow/IgPl6godZmp2eO6t",
          "cachedResultName": "Incoming_PFA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1424,
        224
      ],
      "id": "fd66f054-1851-4ff3-91ba-212fd7dd94e7",
      "name": "Call 'Incoming_PFA'"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        96
      ],
      "id": "1901e772-930c-484e-9655-0a45f4fe49df",
      "name": "Telegram Trigger",
      "webhookId": "d1511059-2d4e-4d7c-b20c-b08852c21b0a",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.chat.id ? $('Telegram Trigger').first().json.message.chat.id : $('Download file').first().json.id }}",
        "contextWindowLength": "=2"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1296,
        224
      ],
      "id": "597221c3-50b4-4043-94f0-04e3fa762360",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        0
      ],
      "id": "349632c2-d8d3-43ea-af20-0194e2676e31",
      "name": "Send a text message",
      "webhookId": "393a447e-f1da-4fdf-a9f2-e1b3756cd997",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool if the user wants to know data from the database.",
        "workflowId": {
          "__rl": true,
          "value": "XQIdg6eU1ro02cH4",
          "mode": "list",
          "cachedResultUrl": "/workflow/XQIdg6eU1ro02cH4",
          "cachedResultName": "Retrieval_PFA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1552,
        224
      ],
      "id": "58f1083e-a54a-4552-a058-5c5e43070028",
      "name": "Call 'Retrieval_PFA'"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": 8888888888,
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "d49ca100-7147-4b16-9985-a6bfc854c5b9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c75c1b20-6c6f-4674-9f95-0d093f89c0ed",
                    "leftValue": "={{ $json.message.photo[0].file_unique_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ae6e04c-b29a-4ab4-a825-9dc93aef51b2",
                    "leftValue": "={{ $json.message.voice.mime_type }}",
                    "rightValue": "audio/ogg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d3e9951b-7719-47e8-994f-d50ceeb00f1b",
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        272,
        -32
      ],
      "id": "104d9e81-85d8-4d74-875d-b031f10a1856",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.photo[3].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        -64
      ],
      "id": "e70d7d84-1e35-4e3c-9e41-fdc406ba8ab2",
      "name": "Get a file1",
      "webhookId": "d422cba1-8516-4f29-9e96-5ac447a8ef56",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "get the text from this image and only output the text, nothing else",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        720,
        -64
      ],
      "id": "a9c8fb82-e8d3-4755-b23d-1015742976bc",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "hxuUpUy1J8QhbA96",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed424dd5-2a15-4eb5-a5ce-1a322f07e811",
              "name": "question",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        -64
      ],
      "id": "a20c0b88-9a9f-476e-9b88-83987977f579",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        96
      ],
      "id": "e8938f9a-2155-4dd3-9588-e1c0a1f508e0",
      "name": "Get a file",
      "webhookId": "9a5e098b-8e97-408d-abb1-d66e57ce2408",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        720,
        96
      ],
      "id": "43e7dc63-2496-401a-b172-c876f448d295",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "452b8e3a-70ee-493e-b7cb-17d0142b995f",
              "name": "question",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        96
      ],
      "id": "04a4f47b-12c1-4f78-ada5-64c9b1a377c2",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "422a9a07-354c-4626-80d4-54385db1cbfc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        -96
      ],
      "id": "723b0ef5-8acc-4b0b-8534-245954944fb0",
      "name": "Webhook",
      "webhookId": "422a9a07-354c-4626-80d4-54385db1cbfc"
    },
    {
      "parameters": {
        "name": "test_receipt",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ZwP0jOm3UzHy29MyxyQQThzvt2lJGbF3",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        -96
      ],
      "id": "36625820-4a5e-4476-81bb-9d7e80260dc1",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base64 = $json.body.image.split(',')[1];\n\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'image/png',\n      fileName: 'image.png'\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -96
      ],
      "id": "f54a5cfb-39c9-4c9a-982f-c7f9ae48b4ef",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "get the text from this image and only output the text, nothing else",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        720,
        272
      ],
      "id": "00ebdbd8-04df-490c-8d17-6c306b2341aa",
      "name": "Analyze an image1",
      "credentials": {
        "googlePalmApi": {
          "id": "hxuUpUy1J8QhbA96",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        272
      ],
      "id": "aee646d3-07f1-42ad-b5e2-538f1c0981f4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed424dd5-2a15-4eb5-a5ce-1a322f07e811",
              "name": "question",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        272
      ],
      "id": "4e08d635-65ae-49e6-9759-929c638c6ede",
      "name": "Edit Fields3"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Incoming_PFA'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Call 'Retrieval_PFA'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "a25aa0ab-cf4a-4864-8b6a-02c74dba82fa",
  "activeVersionId": null,
  "versionCounter": 282,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-11-14T10:10:30.304Z",
      "createdAt": "2025-11-14T10:10:30.304Z",
      "role": "workflow:owner",
      "workflowId": "szUDREfsQyI0SRBC",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8790342e-b65e-4ef9-99ec-48a531aa0094"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ],
  "activeVersion": null
}