Private Financial Assistant
{
  "updatedAt": "2025-12-01T18:45:08.813Z",
  "createdAt": "2025-11-14T10:10:30.304Z",
  "id": "szUDREfsQyI0SRBC",
  "name": "Private Financial Assistant",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9eb8a7cb-d37b-47e7-a230-77708cc7cd57",
              "name": "question",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -96
      ],
      "id": "7ba2f828-4a9b-4683-9ce5-a479d2696c4b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "=You are a strict message router.\n\nYOUR RULES:\n1. Only process messages that come from the HUMAN.\n2. If the message originates from a TOOL → DO NOT THINK. Apply the IF THE TOOL RETURNED A RESULT rules directly.\n\nTOOL RULES (MANDATORY):\n- When a HUMAN message is an expense or write request, your **ONLY** response MUST be the correctly formatted tool call to 'Incoming_PFA'.\n- When a HUMAN message is a retrieval or data request, your **ONLY** response MUST be the correctly formatted tool call to 'Retrieval_PFA'.\n- Forward the HUMAN'S raw message text exactly as received as the tool input.\n- **NEVER** generate any text, commentary, or summary when you are making a tool call.\n- **CRITICAL BLOCK:** DO NOT output any text that starts with \"Used tools:\", \"Tool:\", \"Result:\", or \"Input:\". This is internal log information that must never be exposed.\n- **CRITICAL TRANSACTION RULE:** If the human input is a single message containing a list, multiple line items, or a single receipt image, you MUST treat it as ONE SINGLE TRANSACTION. You must call the 'Incoming_PFA' tool **ONLY ONCE** with the entire, complete text input. NEVER split a single message into multiple tool calls.\n- NEVER GIVE YOUR OWN OPNION, YOU ONLY OUTPUT WHAT IS GIVEN TO YOU BY THE TOOLS OR SUB-AGENTS\n\nIF THE TOOL RETURNED A RESULT:\n\n- **CRITICAL OUTPUT RULE:** Your final output MUST be clean and concise.\n\n- **1. ASK/QUESTION RESULT:** If the tool result contains the field \"ask\", you MUST output **ONLY** the text value of the \"ask\" field.\n\n- **2. FINAL CONFIRMATION RESULT:** If the tool result contains \"response\" or \"answer\", you MUST output **ONLY** the text value of the \"response\" or \"answer\" field.\n\n- **MANDATORY NEGATIVE CONSTRAINT (READ THIS CAREFULLY):** Under no circumstances are you to include any of your internal reasoning, tool execution logs, or traces in your final output. **DO NOT output any text that starts with \"Used tools:\", \"Tool:\", \"Input:\", \"Result:\", or any summary of the action you took.** Output **ONLY** the content requested above.\n\nDETECTION:\nIf the message contains fields like: \"ask\", \"item_name\", \"result\", \"output\" → This is a tool result → Apply the IF THE TOOL RETURNED A RESULT rules.\n\nDEFAULT:\nIf unsure → call Incoming_PFA (the write tool).\n\n\nCRITICAL EXECUTION RULE: You are a Tool Orchestrator, not a confirmation system. NEVER generate a confirmation message (e.g., \"I have logged the expense,\" or \"Data was added to the database\"). After calling a tool, your sole output is the raw JSON result received from that tool, which the main workflow will use for final message generation.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        -96
      ],
      "id": "1c06c774-8452-4eb8-a79a-0459f9acd9d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -128,
        144
      ],
      "id": "eafe6a95-91ae-42a5-b718-87c0d7d0a845",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "call this tool if something needs to be written or updated  to the database ",
        "workflowId": {
          "__rl": true,
          "value": "IgPl6godZmp2eO6t",
          "mode": "list",
          "cachedResultUrl": "/workflow/IgPl6godZmp2eO6t",
          "cachedResultName": "Incoming_PFA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        192,
        144
      ],
      "id": "fd66f054-1851-4ff3-91ba-212fd7dd94e7",
      "name": "Call 'Incoming_PFA'"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        -96
      ],
      "id": "1901e772-930c-484e-9655-0a45f4fe49df",
      "name": "Telegram Trigger",
      "webhookId": "d1511059-2d4e-4d7c-b20c-b08852c21b0a",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": "=5"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        144
      ],
      "id": "597221c3-50b4-4043-94f0-04e3fa762360",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        -96
      ],
      "id": "349632c2-d8d3-43ea-af20-0194e2676e31",
      "name": "Send a text message",
      "webhookId": "393a447e-f1da-4fdf-a9f2-e1b3756cd997",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool if the user wants to know data from the database.",
        "workflowId": {
          "__rl": true,
          "value": "XQIdg6eU1ro02cH4",
          "mode": "list",
          "cachedResultUrl": "/workflow/XQIdg6eU1ro02cH4",
          "cachedResultName": "Retrieval_PFA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        416,
        144
      ],
      "id": "58f1083e-a54a-4552-a058-5c5e43070028",
      "name": "Call 'Retrieval_PFA'"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Incoming_PFA'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Call 'Retrieval_PFA'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 181780929,
          "message": {
            "message_id": 3381,
            "from": {
              "id": 2034253630,
              "is_bot": false,
              "first_name": "Pisto",
              "last_name": "Pisto",
              "username": "peter_aurelius",
              "language_code": "en"
            },
            "chat": {
              "id": 2034253630,
              "first_name": "Pisto",
              "last_name": "Pisto",
              "username": "peter_aurelius",
              "type": "private"
            },
            "date": 1764610878,
            "text": "on what did I spend the most money in the last 7 days?"
          }
        }
      }
    ]
  },
  "versionId": "67b2a2d1-6d27-42c2-91d5-8c5244297f32",
  "versionCounter": 149,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-14T10:10:30.304Z",
      "createdAt": "2025-11-14T10:10:30.304Z",
      "role": "workflow:owner",
      "workflowId": "szUDREfsQyI0SRBC",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-05T04:34:00.267Z",
            "createdAt": "2025-07-05T04:34:00.267Z",
            "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094",
            "projectId": "2KiFcKNLK1JyaklJ",
            "user": {
              "updatedAt": "2025-12-02T00:00:36.327Z",
              "createdAt": "2025-07-05T04:33:38.764Z",
              "id": "8790342e-b65e-4ef9-99ec-48a531aa0094",
              "email": "peterjawel@gmail.com",
              "firstName": "peter",
              "lastName": "aistralis",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-05T04:35:25.871Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FAkXhJwuAslD2JDu",
                "userActivatedAt": 1751716484498,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753381963375
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ]
}