Proposal_Generator
{
  "updatedAt": "2026-02-15T07:51:07.917Z",
  "createdAt": "2025-12-18T07:08:42.857Z",
  "id": "jrHRA6w06ZVZSfCe",
  "name": "Proposal_Generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "2ce6c00e-9719-8024-a5f6-db7a8c82e8e4",
          "mode": "list",
          "cachedResultName": "Proposal Stage",
          "cachedResultUrl": "https://www.notion.so/2ce6c00e97198024a5f6db7a8c82e8e4"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        -128
      ],
      "id": "65f655e6-54ef-48af-86f9-67d5da989722",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "AziN0Uk3Q10Fbsfr",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Senior Systems Architect. Your task is to synthesize CRM data and Website Scrapes into a brutal, high-impact proposal.\n\n\n### DYNAMIC INPUTS:\n- Pain Points: {{ $('Notion Trigger').item.json.Painpoints[0] }}\n- Website Context: {{ $json.results[0].raw_content }}\n- Current Situation: {{ $('Notion Trigger').item.json['Current Situation'][0] }}\n- Goals: {{ $('Notion Trigger').item.json.Target[0] }}\n- Company Name: {{ $('Notion Trigger').item.json['Company Name'][0] }}\n- Painpoints: {{ $('Notion Trigger').item.json.Painpoints[0] }}\n- Target: {{ $('Notion Trigger').item.json.Target[0] }}\n- Solution: {{ $('Notion Trigger').item.json.Solution[0] }}\n- Setup Fee: {{ $('Notion Trigger').item.json['Setup Fee'][0] }}\n- Retainer: {{ $('Notion Trigger').item.json['Monthly Retainer'][0] }}\n\n### STYLE RULES:\n1. **Direct Address**: Use \"You\" and \"Your.\" Do not refer to \"The Founder\" or \"The Team\" in the third person.\n2. **Professional Peer**: Speak to the client as a high-level partner, not a lecturer.\n3. **Synthesis**: Combine the \"Current Situation\" with the \"Pain Points\"  into a single narrative of **Scale**.\n\n###WRITING CONSTRAINT: \nNever use em-dashes (—) or double-hyphen dashes (--). Use commas, colons, or periods to break sentences instead.\n\n### ARCHITECTURAL LOGIC RULES:\n1. **The Structural Pivot**: You MUST start the analysis with: \"The main challenge right now is structural, not effort-based.\" \n2. **Abstract the Problem**: Identify the core conflict between \"Doing the Work\" and \"Managing the System.\" Whether it is onboarding, lead gen, or data entry, explain that manual handling has reached its \"Terminal Velocity.\"\n3. **Address the Recipient**: Use \"You\" and \"Your.\" Speak to them as a peer executive. \n4. **Quantify the Leak**: Use the specific numbers from the 'Pain Points' (e.g., 4-5 leads, 2-3 hours, 1% response) to prove the system is failing, not the person.\n5. **Universal ROI**: Start with: \"The math is simple:\" Contrast the setup cost against the value of fixing the specific bottleneck identified in the Pain Points.\n\n### OUTPUT JSON STRUCTURE:\n{\n  \"strategic_hook\": \"A 1-sentence opening connecting {{ $('Notion Trigger').item.json['Company Name'][0] }}'s specific market position (from scrape) to the necessity of automating lead generation.\",\n  \n  \"pain_analysis\": \"Start with the mandatory phrase. Dynamically explain why their current manual approach to lead generation creates a bottleneck for their specific business model. Reference their specific pain points to show how this limits their scale.\",\n\n  \"the_fix\": \"A 3-step technical execution plan that uses the Tech Scope to solve the specific bottlenecks of {{ $('Notion Trigger').item.json.Solution[0] }}.\",\n\n  \"roi_statement\": \"Start with 'The math is simple:' Synthesize the financial impact of fixing the specific problem described in the Pain Points vs the cost of the setup fee.\",\n\n  \"pricing\": \"Investment breakdown: Setup Fee setup and Retainer monthly. Terms: 50% deposit of [AI: Calculate 50% of Setup Fee] to secure the implementation slot.\",\n\n  \"target\": \"2 sentences explaining how this system makes the goal of 'Target' a technical certainty.\",\n\n  \"next_step\": \"A 3-step action plan to move from proposal to kickoff.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        48
      ],
      "id": "ab6d1127-c13b-4cd6-9c02-6b6458c18b41",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -208,
        272
      ],
      "id": "f9643655-dd3d-49b1-be2b-9464dda4a9e4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/extract",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"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\",\n  \"urls\": [\"https://creavoa.com\"],\n  \"extract_depth\": \"advanced\",\n  \"format\": \"markdown\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        48
      ],
      "id": "9f357473-35ba-4669-af6b-2263f8ac0b02",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"strategic_hook\": \"A 1-sentence opening connecting their specific brand (from the scrape) to the goal.\",\n  \"pain_analysis\": \"output\",\n  \"the_fix\": \"A 3-step 'Technical Execution' list using n8n and the scraped context.\",\n  \"roi_statement\": \"A blunt closing on the expected result.\",\n  \"pricing\": \"the result of the pricing block\",\n  \"next_step\": \"the result of the next steps block\",\n  \"target\": \"the result of the target block\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        0,
        272
      ],
      "id": "98ad6f3d-2e49-4bbb-8554-a69c44375aeb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Timeline[0] }}",
        "options": {
          "systemMessage": "=You are a Project Operations Manager. Your task is to take the raw timeline text and break it into a structured JSON format for a proposal template.\n\n### INPUT DATA:\n{{ $json.Timeline }}\n\n### RULES:\n1. Extract a 2-3 word 'Focus' for each week.\n2. Summarize the 'Deliverables' into a single, punchy sentence.\n3. Output ONLY raw JSON. No code blocks or extra text.\n4. Use future-active verbs for deliverables (e.g., 'Configure infrastructure' instead of 'Configured').\n5. Only output what you are sure of, do not invent deliverables or timeframes\n\n### OUTPUT STRUCTURE:\n{\n  \"w1_focus\": \"...\",\n  \"w1_deliverables\": \"...\",\n  \"w2_focus\": \"...\",\n  \"w2_deliverables\": \"...\",\n  \"w3_focus\": \"...\",\n  \"w3_deliverables\": \"...\",\n  \"w4_focus\": \"...\",\n  \"w4_deliverables\": \"...\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -336,
        -400
      ],
      "id": "b8f6618b-4b6e-4c4a-83a9-ec2a3028bd5d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -352,
        -208
      ],
      "id": "cdb77c55-9e86-477a-900f-ea533a7d1606",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        -144
      ],
      "id": "734140f4-5c62-497b-affd-99562d45ffc2",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        -144
      ],
      "id": "a707b91e-b454-4cbf-9a87-b3abef706b6c",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        144,
        48
      ],
      "id": "75a865c9-4608-4895-9023-f6b637e2f4c6",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        736,
        -144
      ],
      "id": "0486af5c-7ec9-4a77-b1d5-fdb7516241ff",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "// This takes the \"string\" from the AI and turns it into real JSON\nconst rawOutput = $json.output;\nconst parsedData = JSON.parse(rawOutput);\n\nreturn parsedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -400
      ],
      "id": "3c7c1add-3644-47b7-bf3e-23af32873306",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "50688563-5fda-4e6e-834a-3a6d7e60b0cf",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Ready for Proposal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        -128
      ],
      "id": "fa84148d-d5af-4eab-8c91-3a13cd0c3587",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "user",
            "emailAddress": "={{ $('Notion Trigger').item.json['Email Address'][0] }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        -272
      ],
      "id": "5d918319-b1e4-487d-a289-43b908d36b2c",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion Trigger').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Proposal Generated"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1696,
        -144
      ],
      "id": "055f365a-a147-429d-b662-21df3cad7917",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "AziN0Uk3Q10Fbsfr",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1cBMtMWHBvqwuopRfr2cuPgaPodwow96F-8eurrOBs5s",
          "mode": "list",
          "cachedResultName": "Template_Proposal",
          "cachedResultUrl": "https://docs.google.com/document/d/1cBMtMWHBvqwuopRfr2cuPgaPodwow96F-8eurrOBs5s/edit?usp=drivesdk"
        },
        "name": "=Proposal {{ $('Notion Trigger').item.json.Proposal }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        912,
        -144
      ],
      "id": "e2a8fb7a-a757-404c-b59d-99990d8c90e8",
      "name": "Copy Template",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{Name}}",
              "replaceText": "={{ $('Notion Trigger').item.json.Proposal }}"
            },
            {
              "action": "replaceAll",
              "text": "{{xxx}}",
              "replaceText": "={{ $('Aggregate1').item.json.data[0].output }}"
            },
            {
              "action": "replaceAll",
              "text": "{{w1_focus}}",
              "replaceText": "={{ $('Merge').first().json.w1_focus }}"
            },
            {
              "action": "replaceAll",
              "text": "{{w2_focus}}",
              "replaceText": "={{ $('Merge').first().json.w2_focus }}"
            },
            {
              "action": "replaceAll",
              "text": "{{w3_focus}}",
              "replaceText": "={{ $('Merge').first().json.w3_focus }}"
            },
            {
              "action": "replaceAll",
              "text": "{{w4_focus}}",
              "replaceText": "={{ $('Merge').first().json.w4_focus }}"
            },
            {
              "action": "replaceAll",
              "text": "{{w1}}",
              "replaceText": "Week 1"
            },
            {
              "action": "replaceAll",
              "text": "{{w2}}",
              "replaceText": "Week 2"
            },
            {
              "action": "replaceAll",
              "text": "{{w3}}",
              "replaceText": "Week 3"
            },
            {
              "action": "replaceAll",
              "text": "{{w4}}",
              "replaceText": "Week 4"
            },
            {
              "action": "replaceAll",
              "text": "{{firstName}}",
              "replaceText": "={{ $('Notion Trigger').item.json['First Name'][0] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{companyName}}",
              "replaceText": "={{ $('Notion Trigger').item.json['Company Name'][0] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{problemStatement}}",
              "replaceText": "={{ $('Aggregate1').item.json.data[1].output }}"
            },
            {
              "action": "replaceAll",
              "text": "{{w1_deliv}}",
              "replaceText": "={{ $('Code in JavaScript').first().json.w1_deliverables }}"
            },
            {
              "action": "replaceAll",
              "text": "{{w2_deliv}}",
              "replaceText": "={{ $('Code in JavaScript').first().json.w2_deliverables }}"
            },
            {
              "action": "replaceAll",
              "text": "{{w3_deliv}}",
              "replaceText": "={{ $('Code in JavaScript').first().json.w3_deliverables }}"
            },
            {
              "action": "replaceAll",
              "text": "{{w4_deliv}}",
              "replaceText": "={{ $('Code in JavaScript').first().json.w4_deliverables }}"
            },
            {
              "action": "replaceAll",
              "text": "{{solutionStatement}}",
              "replaceText": "=To secure a consistent pipeline of high-quality leads for Creavoa, we will:\n{{ $('AI Agent').item.json.output.the_fix }}"
            },
            {
              "action": "replaceAll",
              "text": "{{aistralisStatement}}",
              "replaceText": "=Your expertise is design, not automated lead-generation. Ours is building those systems for creatives like you.\nAs the founder, I personally build and deploy your system to achieve one goal: to stop the monthly loss of 4-5 high-value leads.\n\n* You get a working asset, not a service. A complete system installed in your tools (like HubSpot), owned by you.\n* Direct, founder-led execution. I am your single point of contact from start to finish, ensuring it reflects your brand and goals.\n* Designed to capture intent. The system responds in minutes, so you can seize opportunities while they're hot.\n\nLet's connect our specialties. You focus on your craft; we'll ensure the pipeline is always full.\nWe don't promise \"AI magic.\" We promise a reliable system that keeps your pipeline full even when your design team is buried in projects."
            },
            {
              "action": "replaceAll",
              "text": "{{solutionStatement}}",
              "replaceText": "={{ $('AI Agent').item.json.output.the_fix }}"
            },
            {
              "action": "replaceAll",
              "text": "{{pricingStatement}}",
              "replaceText": "={{ $('AI Agent').item.json.output.pricing }}"
            },
            {
              "action": "replaceAll",
              "text": "{{roiStatement}}",
              "replaceText": "={{ $('AI Agent').item.json.output.roi_statement }}"
            },
            {
              "action": "replaceAll",
              "text": "{{nextstepsStatement}}",
              "replaceText": "={{ $('AI Agent').item.json.output.next_step }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CTA}}",
              "replaceText": "\n* APPROVE & START IMPLEMENTATION*."
            },
            {
              "action": "replaceAll",
              "text": "{{timelineStatement}}",
              "replaceText": "To ensure a smooth and efficient implementation, we’ve structured the project into 4 phases. "
            },
            {
              "action": "replaceAll",
              "text": "{{objectivesStatement}}",
              "replaceText": "={{ $('AI Agent').item.json.output.target }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1088,
        -144
      ],
      "id": "0eb0a633-6fbd-44f1-a031-2dc90f68449d",
      "name": "Update Copy Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "WHeRY1hw2tRHjuCJ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        32
      ],
      "id": "bc3d8cf5-1c90-437a-ba67-73caea3830b3",
      "name": "Proposal->PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Copy Template').item.json.name }}",
        "emailType": "html",
        "message": "=<p>Hi {{ $('Notion Trigger').item.json['First Name'][0] }},</p>\n\n<p>First of all, thank you for the interesting call.</p>\n\n<p>\nAs promised, here’s the \n<a href=\"https://docs.google.com/document/d/{{ $('Update Copy Template').item.json.documentId }}/edit?usp=sharing\" target=\"_blank\">\nproposal\n</a>\noutlining how we can help {{ $('Notion Trigger').item.json['Company Name'][0] }} with optimizing their lead-generation.\n</p>\n\n<p>It covers the scope, approach, timeline, and pricing we discussed.</p>\n\n<p>\nIf anything feels off or you’d like to tweak the scope, I’m happy to adjust it or walk through it together.\n</p>\n\n<p>\nLet me know your thoughts, and what the best next step would be on your side.\n</p>\n\n<p>\nBest,<br>\nPeter\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1456,
        -272
      ],
      "id": "313a6221-d949-4278-9eca-79f3bb088c4e",
      "name": "Draft Proposal Shared",
      "webhookId": "bc19018e-1094-4088-b5e3-acd1f2b49310",
      "credentials": {
        "gmailOAuth2": {
          "id": "NJotz0jOs2Osf7BJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Notion Trigger').item.json.Proposal }}",
        "message": "=Hi {{ $('Notion Trigger').item.json['First Name'][0] }},\n\nFirst of all, thank you for the interesting call.\n\nAs promised, I’ve attached a proposal outlining how we can help {{ $('Notion Trigger').item.json['Company Name'][0] }} with optimizing their lead-generation.\n\nIt covers the scope, approach, timeline, and pricing we discussed.\n\nIf anything feels off or you’d like to tweak the scope, I’m happy to adjust it or walk through it together.\n\nLet me know your thoughts, and what the best next step would be on your side.\n\nBest,\nPeter",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1456,
        32
      ],
      "id": "37f52089-09f2-4871-a10b-e94a177e6950",
      "name": "Draft Proposal Attached",
      "webhookId": "87f613b9-0696-4083-b93a-cc4a1a7ccafb",
      "credentials": {
        "gmailOAuth2": {
          "id": "NJotz0jOs2Osf7BJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -688,
        128
      ],
      "id": "6a15275c-903e-4f38-b7e8-8fb21929b9ea",
      "name": "Do Nothing"
    }
  ],
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Copy Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Draft Proposal Shared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Do Nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Template": {
      "main": [
        [
          {
            "node": "Update Copy Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Copy Template": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Proposal->PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proposal->PDF": {
      "main": [
        [
          {
            "node": "Draft Proposal Attached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Proposal Shared": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Proposal Attached": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Notion Trigger": {
      "lastTimeChecked": "2026-02-15T07:51:00.000Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Notion Trigger": [
      {
        "json": {
          "id": "3086c00e-9719-8042-919d-e395c114dfb4",
          "Setup Fee": [
            750,
            1000
          ],
          "Services": [
            "2cd6c00e-9719-80fd-8ce7-f274cbc020bb",
            "2cf6c00e-9719-80c6-a783-c71555d87ee0"
          ],
          "First Name": [
            "Peter"
          ],
          "Email Address": [
            "peter@creavoa.com"
          ],
          "Painpoints": [
            "When the team is busy designing there is no prospecting. When projects end, the pipeline is empty. Currently losing 4-5 high-value leads a month to competitors who respond faster. So, high fluctuation of incoming clients and leads"
          ],
          "Timeline": [
            "Week 1: Infrastructure setup, CRM integration, and Defining Ideal Client Profile (ICP).\nWeek 2: Personalization and AI prompt engineering for brand-voice alignment.\nWeek 3: System stress-testing, lead-scoring calibration, ...\nWeek 4: Official Go-Live, performance monitoring, and team training.",
            "Week 1: Set up integrations, defining scoring, connecting to CRM\nWeek 2: Testing + refining\nWeek 3: Go live, performance monitoring, and training."
          ],
          "Bonus": [
            200,
            100
          ],
          "Current Situation": [
            "Founder spends 2-3 hours a week manually searching for local businesses with outdated websites. Cold emails are sent one-by-one from a personal Gmail. Response rate is <1%. No tracking of who opens emails."
          ],
          "Monthly Retainer": [
            200,
            100
          ],
          "Name": [
            "3086c00e-9719-8099-bea0-f6d41d6e50e6"
          ],
          "Target": [
            "8-10 discovery calls per month with businesses doing over $0.5m in revenue. Automate the 'first touch' so the founder only speaks to qualified leads."
          ],
          "Notes": "",
          "Last Name": [
            "Wettinck"
          ],
          "Status": "Ready for Proposal",
          "Company Name": [
            "Creavoa"
          ],
          "Solution": [
            "We analyze customer’s ICP and use designated online tools to find all necessary details.\nWe set up the needed amount of inboxes and domains, warm up the emails\nWe set the complete email sequence and do personalization where needed\nIf there are over 3000 leads, we will use our in-house designed model to optimize the results.\nWe also implement automatic answering to mails (based on your data) using the best llm\nTech stack used: Instantly, N8N, Python, OpenAI, Apollo, Clay, Zerobounce,…\n",
            "We connect all incoming channels and to customer’s crm (so they run in parallel)"
          ],
          "Proposal": "Lead Generation"
        }
      }
    ]
  },
  "versionId": "f496c707-9a22-4bbd-8336-e7734b034b19",
  "versionCounter": 327,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-18T07:08:42.857Z",
      "createdAt": "2025-12-18T07:08:42.857Z",
      "role": "workflow:owner",
      "workflowId": "jrHRA6w06ZVZSfCe",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-05T04:34:00.267Z",
            "createdAt": "2025-07-05T04:34:00.267Z",
            "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094",
            "projectId": "2KiFcKNLK1JyaklJ",
            "user": {
              "updatedAt": "2026-02-16T00:00:28.219Z",
              "createdAt": "2025-07-05T04:33:38.764Z",
              "id": "8790342e-b65e-4ef9-99ec-48a531aa0094",
              "email": "peterjawel@gmail.com",
              "firstName": "peter",
              "lastName": "aistralis",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-05T04:35:25.871Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FAkXhJwuAslD2JDu",
                "userActivatedAt": 1751716484498,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769850829423
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ]
}