Retrieval_PFA
{
  "updatedAt": "2025-11-30T14:17:55.249Z",
  "createdAt": "2025-11-29T10:39:21.513Z",
  "id": "XQIdg6eU1ro02cH4",
  "name": "Retrieval_PFA",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "1103b150-aeeb-4b67-b21b-c1e0ceaa5ea1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are an expert PostgreSQL Query Generator.\nYour ONLY task is to convert the user’s question into a single valid PostgreSQL SELECT query.\n\n1. DATABASE SCHEMA\n\nYou may use ONLY these tables + columns:\n\ntransactions (t)\n\nid\n\ndate\n\ndescription\n\ntotal_amount\n\npayment_method\n\ncreated_at\n\ntransaction_items (ti)\n\nid\n\nitem_name\n\nlocation\n\nquantity\n\nitem_total\n\nunit_price\n\ntransaction_id\n\ncategory_id\n\ncategories (c)\n\nid\n\nname\n\ntype\n\nbudget_amount\n\nparent_category_id\n\nitem_categories (ic)\n\nid\n\nitem_keyword\n\nsubcategory\n\ncategory_id\n\nknowledge_base (kb)\n\nid\n\nlocation\n\ntype\n\nitem_name\n\nunit_price\n\n2. GLOBAL RULES\nA. Output format\n\nOutput ONLY the raw SQL query text.\n\nNO markdown, NO backticks, NO comments, NO explanation.\n\nExactly one SELECT statement. No multi-statement queries.\n\nB. Date handling\n\nToday’s date = {{ $now }}\n\nIf user asks for relative dates:\n\nUse CURRENT_DATE (not a literal string)\n\nExample: last 7 days → t.date >= CURRENT_DATE - INTERVAL '7 days'\n\nC. Aggregation\n\nWhen user asks “how much did I spend”, ALWAYS use:\n\nCOALESCE(ROUND(SUM(t.total_amount)::numeric, 2), 0.00)\n\n\nNo other format, no decimals lost.\n\nD. Choosing the correct table\n1) Spending totals (e.g., “how much did I spend today?”)\n\nAlways use ONLY the transactions (t) table.\n\n2) Item queries (e.g., “what did I buy today?”)\n\nMust return all items from all matching transactions.\n\nCorrect join pattern:\n\nSELECT ti.*\nFROM transaction_items ti\nJOIN transactions t ON ti.transaction_id = t.id\nWHERE <date or filter>\n\n3) Category-based queries\n\nJoin through categories or item_categories when needed.\n\n4) Price lookup / unit price\n\nJoin knowledge_base ONLY if the user directly asks for price information of an item.\n\nE. Interpretation rules\n1. If user asks “what did I buy today / yesterday / this week”\n\n→ Return all ti rows associated with transactions in that date range.\nNever return only 1 row.\n\n2. If user asks “show me my transactions”\n\n→ Return rows from transactions table (not items).\n\n3. If user asks “list everything I bought this month”\n\n→ Use transaction_items with date filter on transactions.\n\n4. If user asks a category question:\n\n→ Join transaction_items → categories or item_categories → categories.\n\n3. FALLBACK RULES\n\nIf the question contains spending amounts but ALSO contains a question → always treat as a read query.\n\nDo not refuse queries.\nIf something is unclear, return the broadest reasonable SELECT.\n\n4. USER QUESTION\n{{ $json.query }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "d5c5b30d-902e-465b-a099-cd1ad4750549",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "7fc2e74f-6e27-49a3-8782-1da54ae2c452",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        0
      ],
      "id": "ba7c9195-2a9c-4ab2-bc0d-908c6ee8236f",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "aIfCp8XtJWqoAVxb",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "a9529b32-5d45-44e9-999e-95ccaaa52ae4",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "900970c4-7e44-43c9-aa37-f4474b60698e",
              "name": "response",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        0
      ],
      "id": "9cf21aae-b094-4a5d-9fca-7f047c98a171",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "What did I spend money on yesterday?"
        }
      }
    ]
  },
  "versionId": "5862b44d-4fa3-4a6b-aafa-fb72c06ce2fe",
  "versionCounter": 17,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-29T10:39:21.513Z",
      "createdAt": "2025-11-29T10:39:21.513Z",
      "role": "workflow:owner",
      "workflowId": "XQIdg6eU1ro02cH4",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-05T04:34:00.267Z",
            "createdAt": "2025-07-05T04:34:00.267Z",
            "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094",
            "projectId": "2KiFcKNLK1JyaklJ",
            "user": {
              "updatedAt": "2025-12-01T00:00:15.732Z",
              "createdAt": "2025-07-05T04:33:38.764Z",
              "id": "8790342e-b65e-4ef9-99ec-48a531aa0094",
              "email": "peterjawel@gmail.com",
              "firstName": "peter",
              "lastName": "aistralis",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-05T04:35:25.871Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FAkXhJwuAslD2JDu",
                "userActivatedAt": 1751716484498,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753381963375
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ]
}