Telegram_Group_Chat
{
  "updatedAt": "2026-04-15T01:42:27.050Z",
  "createdAt": "2026-04-10T05:25:20.335Z",
  "id": "ZSypPyWac8lUTd6Q",
  "name": "Telegram_Group_Chat",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "13b73f3d-a33e-4e27-8e18-bb555861da2a",
      "name": "Telegram Trigger",
      "webhookId": "0476ce63-bbbd-4086-91e8-9f745223fec1",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Hello from N8N - to Bot",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "11c90009-d35a-4948-9c09-37e25bed5e2c",
      "name": "Send a text message",
      "webhookId": "9bfc7bc6-672d-41a3-a1b1-b9cf3ac2c026",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -192
      ],
      "id": "8759d214-bc48-4a03-b886-f4fa340d0c7c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "chatId": "-1003825087138",
        "text": "Only Sending - Type the message you want to spread",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        288,
        -160
      ],
      "id": "5acf8172-8be8-49a4-855b-2413091ce6f7",
      "name": "Send a text message1",
      "webhookId": "9bfc7bc6-672d-41a3-a1b1-b9cf3ac2c026",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.flextender.nl/opdracht/?aanvraagnr=29151",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        -192
      ],
      "id": "14c9a04c-237b-4ad5-8cef-5c998c6bf2dd",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "73acfd97-eeaf-4f48-919b-76e8d8d0144b",
  "activeVersionId": null,
  "versionCounter": 50,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-10T05:25:20.335Z",
      "createdAt": "2026-04-10T05:25:20.335Z",
      "role": "workflow:owner",
      "workflowId": "ZSypPyWac8lUTd6Q",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8790342e-b65e-4ef9-99ec-48a531aa0094"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ],
  "activeVersion": null
}