X Text + Image
{
  "updatedAt": "2025-11-25T12:58:41.597Z",
  "createdAt": "2025-11-11T04:41:06.215Z",
  "id": "ZHJDHmqyUQAIBd97",
  "name": "X Text + Image",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        -176
      ],
      "id": "3cd33c33-e99e-412f-acb4-ef8ddb7f44ef",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.com/2/media/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_category",
              "value": "tweet_image"
            },
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        -176
      ],
      "id": "86f901d5-d340-4b46-b97e-74f9394b400e",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "JIPBgpl6Bxf76g3k",
          "name": "X Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.com/2/tweets",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"text\": \"Does this work?\",\n     \"media\": {\n       \"media_ids\": [\n            \"{{ $json.data.id }}\"\n        ]\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -176
      ],
      "id": "b892b231-06c5-41ad-bebf-68a21b6b5dd7",
      "name": "HTTP Request1",
      "credentials": {
        "oAuth2Api": {
          "id": "JIPBgpl6Bxf76g3k",
          "name": "X Credentials"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "a photorealistic picture of a person working on a laptop, trying to create the ultimate AI Agent",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        -176
      ],
      "id": "f288d9c4-b174-4eae-ac08-86cca2bdb8e1",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "hxuUpUy1J8QhbA96",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "594b5395-ac49-4ed5-8d23-872531efa715",
              "name": "input_text",
              "value": "this is a text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -352
      ],
      "id": "2dda0720-79a7-4c11-aec0-3917febb05be",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1Oa3TMOfN5BrUnOSNgsBcJMGAyjT1kRNb",
          "mode": "list",
          "cachedResultName": "fruitvlieg_as_a_surfer_holding_his_surfboard_at_the_beach._hype_bb78ef34-8517-447f-9364-2901b0e0bb6c.webp",
          "cachedResultUrl": "https://drive.google.com/file/d/1Oa3TMOfN5BrUnOSNgsBcJMGAyjT1kRNb/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        -352
      ],
      "id": "b7ceea65-f6c7-4bf0-a2ff-9bbaeed77831",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "05d0edda-40fd-4b69-93b0-54d759b8e37b",
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-11T04:41:06.215Z",
      "createdAt": "2025-11-11T04:41:06.215Z",
      "role": "workflow:owner",
      "workflowId": "ZHJDHmqyUQAIBd97",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-05T04:34:00.267Z",
            "createdAt": "2025-07-05T04:34:00.267Z",
            "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094",
            "projectId": "2KiFcKNLK1JyaklJ",
            "user": {
              "updatedAt": "2025-11-26T00:00:58.347Z",
              "createdAt": "2025-07-05T04:33:38.764Z",
              "id": "8790342e-b65e-4ef9-99ec-48a531aa0094",
              "email": "peterjawel@gmail.com",
              "firstName": "peter",
              "lastName": "aistralis",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-05T04:35:25.871Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FAkXhJwuAslD2JDu",
                "userActivatedAt": 1751716484498,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753381963375
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-25",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ]
}